// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 *
 * Overlay for enabling HummingBoard IIoT LVDS connector
 * with Winstar WF70A8SYJHLNGA panel.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	lvds_backlight: lvds-backlight {
		compatible = "gpio-backlight";
		gpios = <&tca6408_u37 3 GPIO_ACTIVE_LOW>;
	};

	lvds-panel {
		compatible = "panel-lvds";
		data-mapping = "vesa-24";
		width-mm = <154>;
		height-mm = <86>;
		backlight = <&lvds_backlight>;
		power-supply = <&reg_dsi_panel>;
		enable-gpios = <&tca6408_u37 2 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tca6408_u37 1 GPIO_ACTIVE_HIGH>;

		panel-timing {
			/*
			 * Note: NXP BSP hard-codes 74MHz clock in ldb driver:
			 * drivers/gpu/drm/imx/imx8mp-ldb.c
			 * SolidRun BSP carries patch.
			 */
			clock-frequency =   <49000000>;
			hactive = <1024>;
			vactive = <600>;
			hfront-porch = <40>;
			hback-porch = <144>;
			hsync-len = <104>;
			hsync-active = <0>;
			vfront-porch = <3>;
			vback-porch = <11>;
			vsync-len = <10>;
			vsync-active = <1>;
			de-active = <1>;
		};

		port {
			panel_from_lvds: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};
};

&i2c_lvds {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen@41 {
		reg = <0x41>;
		compatible = "ilitek,ili2130";
		reset-gpios = <&tca6408_u37 6 GPIO_ACTIVE_LOW>;
		interrupts-extended = <&tca6416_u21 13 IRQ_TYPE_LEVEL_LOW>;
		vcc-lcd-supply = <&reg_dsi_panel>;
	};
};

&lcdif2 {
	status = "okay";
};

&ldb {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_from_lvds>;
			};
		};
	};
};

&ldb_phy {
        status = "okay";
};

&tca6408_u37 {
	lvds-lr-hog {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "lvds-l/r";
	};

	lvds-ud-hog {
		gpio-hog;
		gpios = <5 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "lvds-u/d";
	};
};
