// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 *
 * Overlay for enabling HummingBoard IIoT MIPI-DSI connector
 * with Winstar WJ70N3TYJHMNG0 panel.
 */

/dts-v1/;
/plugin/;

/* place-holder */
