// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include <dt-bindings/input/input.h>
#include "imx8mn.dtsi"

/ {
	model = "SolidRun i.MX8MN Compact";
	compatible = "fsl,imx8mn-solidrun", "fsl,imx8mn";

	chosen {
		stdout-path = &uart2;
	};

        modem_reset: modem-reset {
                compatible = "gpio-reset";
                reset-gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;
                reset-delay-us = <2000>;
                reset-post-delay-ms = <40>;
                #reset-cells = <0>;
        };
	
	ublox_reset: ublox-reset {
                compatible = "gpio-reset";
                reset-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
                reset-delay-us = <2000>;
                reset-post-delay-ms = <40>;
                #reset-cells = <0>;
	};

	hub-reset {
		compatible = "gpio-reset";
                reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;
                reset-delay-us = <2000>;
                reset-post-delay-ms = <40>;
                #reset-cells = <0>;
	};

	lte-reset {
		compatible = "gpio-reset";
                reset-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
                reset-delay-us = <2000>;
                reset-post-delay-ms = <40>;
                #reset-cells = <0>;
	};



	leds {
		/*
	        LED1 -> GPIO1_IO11
	        LED2 -> GPIO1_IO12
	        LED3 -> GPIO1_IO13
		*/
                compatible = "gpio-leds";
                pinctrl-names = "default";

		led1 {
			lable = "led1";
		        gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		        default-state = "off";
		};
		led2 {
			lable = "led2";
		        gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		        default-state = "off";
		};
		led3 {
			lable = "led3";
		        gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		        default-state = "off";
		};

        };

        reg_usb1_host_vbus: regulator-usb1-vbus {
                compatible = "regulator-fixed";
                regulator-name = "usb1_host_vbus";
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_usb1_vbus>;
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                gpio = <&gpio5 5 GPIO_ACTIVE_HIGH>;
                enable-active-high;
                regulator-always-on;
        };

	usdhc1_pwrseq: usdhc1_pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usdhc1_gpio>;
		reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		//pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		//gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <12000>;
		enable-active-high;
	};

	/*poll IO Expander and reboot in case of power loss*/
	gpio_keys_polled {
			compatible = "gpio-keys-polled";
			#address-cells = <1>;
	                #size-cells = <0>;
			poll-interval = <1000>; /*1 sec*/
			autorepeat; /*for cases when key was triggered before daemon was started*/
			button@0 {
				label = "reset";
				linux,code = <KEY_RESTART>;
				gpios = <&io_expander 1 GPIO_ACTIVE_LOW>;
	       	                debounce-interval = <100>;
			};
	};


      clocks {
               clk24m: clk24m {
                       compatible = "fixed-clock";
                       #clock-cells = <0>;
                       clock-frequency = <24000000>;
               };
       };

};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;
	
	pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MN_IOMUXC_ENET_MDC_ENET1_MDC		0x3
			MX8MN_IOMUXC_ENET_MDIO_ENET1_MDIO	0x3
			MX8MN_IOMUXC_ENET_TD3_ENET1_RGMII_TD3	0x1f
			MX8MN_IOMUXC_ENET_TD2_ENET1_RGMII_TD2	0x1f
			MX8MN_IOMUXC_ENET_TD1_ENET1_RGMII_TD1	0x1f
			MX8MN_IOMUXC_ENET_TD0_ENET1_RGMII_TD0	0x1f
			MX8MN_IOMUXC_ENET_RD3_ENET1_RGMII_RD3	0x91
			MX8MN_IOMUXC_ENET_RD2_ENET1_RGMII_RD2	0x91
			MX8MN_IOMUXC_ENET_RD1_ENET1_RGMII_RD1	0x191 /*PHY-Address1 */
			MX8MN_IOMUXC_ENET_RD0_ENET1_RGMII_RD0	0x191 /*PHY-Address0 */
			MX8MN_IOMUXC_ENET_TXC_ENET1_RGMII_TXC	0x1f
			MX8MN_IOMUXC_ENET_RXC_ENET1_RGMII_RXC	0x91
			MX8MN_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91
			MX8MN_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f
			MX8MN_IOMUXC_SAI5_RXFS_GPIO3_IO19      0x19 /*PHY RESET */
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
			/* GPIO1_IO06 U-BLOX ENABLE - SET PULLUP */
			MX8MN_IOMUXC_GPIO1_IO06_GPIO1_IO6         0x141
			/* CELL_VBUS_CTRL - POWER TO LTE - PULLUP */
			MX8MN_IOMUXC_SPDIF_RX_GPIO5_IO4		  0x141
			/* RF_PWR  - ENABLE LTE POWER - PULLUP*/
			MX8MN_IOMUXC_SAI5_MCLK_GPIO3_IO25  	  0x141
			/* LTE PWRKEY - PULL DOWN*/
			MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8	  0x101
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_ALE_QSPI_A_SCLK 0x1c4
			MX8MN_IOMUXC_NAND_CE0_B_QSPI_A_SS0_B 0x84
			MX8MN_IOMUXC_NAND_DATA00_QSPI_A_DATA0 0x84
			MX8MN_IOMUXC_NAND_DATA01_QSPI_A_DATA1 0x84
			MX8MN_IOMUXC_NAND_DATA02_QSPI_A_DATA2 0x84
			MX8MN_IOMUXC_NAND_DATA03_QSPI_A_DATA3 0x84
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
                fsl,pins = <
                       MX8MN_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK            0x82
                       MX8MN_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI            0x82
                       MX8MN_IOMUXC_ECSPI2_MISO_ECSPI2_MISO            0x82
                >;
        };

        pinctrl_ecspi2_cs: ecspi2cs {
                fsl,pins = <
                      MX8MN_IOMUXC_ECSPI2_SS0_GPIO5_IO13              0x40000
                >;
        };


	pinctrl_mipi_dsi_en: mipi_dsi_en {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x16
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL_I2C1_SCL		0x400001c3
			MX8MN_IOMUXC_I2C1_SDA_I2C1_SDA		0x400001c3
		>;
	};

	pinctrl_pmic: pmicirq {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO03_GPIO1_IO3	0x41
		>;
	};

	pinctrl_gpio_wlf: gpiowlfgrp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C4_SDA_GPIO5_IO21	0xd6
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_I2C2_SCL			0x400001c3
			MX8MN_IOMUXC_I2C2_SDA_I2C2_SDA			0x400001c3
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_I2C3_SCL			0x400001c3
			MX8MN_IOMUXC_I2C3_SDA_I2C3_SDA			0x400001c3
		>;
	};

	pinctrl_i2c2_gpio: i2c2grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_GPIO5_IO16		0x1c3
			MX8MN_IOMUXC_I2C2_SDA_GPIO5_IO17		0x1c3
		>;
	};

	pinctrl_i2c3_gpio: i2c3grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_GPIO5_IO18		0x1c3
			MX8MN_IOMUXC_I2C3_SDA_GPIO5_IO19		0x1c3
		>;
	};

        pinctrl_io_expander: i2c3-io-expander {
                fsl,pins = <
                        MX8MN_IOMUXC_SD1_STROBE_GPIO2_IO11              0x1d1 /* iomux interrupt */
                        MX8MN_IOMUXC_NAND_READY_B_GPIO3_IO16            0x191 /* iomux reset */
                >;
        };


	pinctrl_i2c2_synaptics_dsx_io: synaptics_dsx_iogrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x19
		>;
	};

	pinctrl_pdm: pdmgrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI5_MCLK_SAI5_MCLK	0xd6
			MX8MN_IOMUXC_SAI5_RXC_PDM_CLK		0xd6
			MX8MN_IOMUXC_SAI5_RXFS_SAI5_RX_SYNC	0xd6
			MX8MN_IOMUXC_SAI5_RXD0_PDM_BIT_STREAM0	0xd6
			MX8MN_IOMUXC_SAI5_RXD1_PDM_BIT_STREAM1	0xd6
			MX8MN_IOMUXC_SAI5_RXD2_PDM_BIT_STREAM2	0xd6
			MX8MN_IOMUXC_SAI5_RXD3_PDM_BIT_STREAM3	0xd6
		>;
	};

	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI3_TXFS_SAI3_TX_SYNC     0xd6
			MX8MN_IOMUXC_SAI3_TXC_SAI3_TX_BCLK      0xd6
			MX8MN_IOMUXC_SAI3_MCLK_SAI3_MCLK        0xd6
			MX8MN_IOMUXC_SAI3_TXD_SAI3_TX_DATA0     0xd6
		>;
	};

	pinctrl_sai5: sai5grp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI5_MCLK_SAI5_MCLK	0xd6
			MX8MN_IOMUXC_SAI5_RXC_SAI5_RX_BCLK	0xd6
			MX8MN_IOMUXC_SAI5_RXFS_SAI5_RX_SYNC	0xd6
			MX8MN_IOMUXC_SAI5_RXD0_SAI5_RX_DATA0	0xd6
			MX8MN_IOMUXC_SAI5_RXD1_SAI5_RX_DATA1    0xd6
			MX8MN_IOMUXC_SAI5_RXD2_SAI5_RX_DATA2    0xd6
			MX8MN_IOMUXC_SAI5_RXD3_SAI5_RX_DATA3    0xd6
		>;
	};

	pinctrl_typec1: typec1grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_STROBE_GPIO2_IO11	0x159
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmc {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_RESET_B_GPIO2_IO19	0x41
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART1_RXD_UART1_DCE_RX	0x140
			MX8MN_IOMUXC_UART1_TXD_UART1_DCE_TX	0x140
			MX8MN_IOMUXC_UART3_RXD_UART1_DCE_CTS_B	0x140
			MX8MN_IOMUXC_UART3_TXD_UART1_DCE_RTS_B	0x140
			MX8MN_IOMUXC_SD1_DATA4_GPIO2_IO6	0x19
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART2_RXD_UART2_DCE_RX	0x140
			MX8MN_IOMUXC_UART2_TXD_UART2_DCE_TX	0x140
		>;
	};

        pinctrl_uart3: uart3grp {
                fsl,pins = <
                        MX8MN_IOMUXC_ECSPI1_MOSI_UART3_DTE_RX           0x140
                        MX8MN_IOMUXC_ECSPI1_SCLK_UART3_DTE_TX          0x140
                        MX8MN_IOMUXC_ECSPI1_MISO_UART3_DTE_RTS_B       0x140
                        MX8MN_IOMUXC_ECSPI1_SS0_UART3_DTE_CTS_B        0x140
                >;
        };

        pinctrl_uart4: uart4grp {
                fsl,pins = <
                        MX8MN_IOMUXC_UART4_RXD_UART4_DCE_RX             0x140
                        MX8MN_IOMUXC_UART4_TXD_UART4_DCE_TX             0x140
                >;
        };

	pinctrl_usdhc1_gpio: usdhc1grpgpio {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_RESET_B_GPIO2_IO10	0x41
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_CLK_USDHC1_CLK		0x190
			MX8MN_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d0
			MX8MN_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d0
			MX8MN_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d0
			MX8MN_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d0
			MX8MN_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d0
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_CLK_USDHC1_CLK		0x180
			MX8MN_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d4
			MX8MN_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d4
			MX8MN_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d4
			MX8MN_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d4
			MX8MN_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d4
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_CLK_USDHC1_CLK		0x180
			MX8MN_IOMUXC_SD1_CMD_USDHC1_CMD		0x1d0
			MX8MN_IOMUXC_SD1_DATA0_USDHC1_DATA0	0x1d0
			MX8MN_IOMUXC_SD1_DATA1_USDHC1_DATA1	0x1d0
			MX8MN_IOMUXC_SD1_DATA2_USDHC1_DATA2	0x1d0
			MX8MN_IOMUXC_SD1_DATA3_USDHC1_DATA3	0x1d0
		>;
	};


	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK		0x190
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d0
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d0
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d0
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d0
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d0
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK		0x194
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d4
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d4
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d4
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d4
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d4
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK		0x196
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d6
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d6
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d6
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d6
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d6
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x40000190
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d0
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d0
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d0
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d0
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d0
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d0
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d0
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d0
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d0
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE		0x190
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x40000194
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d4
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d4
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d4
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d4
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d4
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d4
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d4
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d4
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d4
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE		0x194
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x40000196
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d6
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d6
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d6
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d6
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d6
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d6
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d6
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d6
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d6
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE		0x196
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0xc6
		>;
	};

	pinctrl_wlan: wlangrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO00_ANAMIX_REF_CLK_32K	0x141
			MX8MN_IOMUXC_SD1_DATA7_GPIO2_IO9		0x111
		>;
	};

	pinctrl_csi_pwn: csi_pwn_grp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO07_GPIO1_IO7		0x19
		>;
	};

	pinctrl_usb1_vbus: usb1grp {
                fsl,pins = <
			MX8MN_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5     0x19 /* USB_HUB_PWR_EN */       
		>;
        };

	pinctrl_gpio_led: gpioledgrp {
                fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO11_GPIO1_IO11    0x19
			MX8MN_IOMUXC_GPIO1_IO12_GPIO1_IO12    0x19
			MX8MN_IOMUXC_GPIO1_IO13_GPIO1_IO13    0x19
                >;
        };

};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	scl-gpios = <&gpio5 16 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 17 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	scl-gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>;
	status = "okay";

        io_expander: gpio-controller@20 {
		/*ignore interrupts - using polling method (gpio-keys-polled)*/
                compatible = "ti,tca6408";
                reg = <0x20>;
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_io_expander>;
		//interrupt-controller;
		//#interrupt-cells = <2>;
                reset-gpios = <&gpio3 16 GPIO_ACTIVE_LOW>;
                gpio-controller;
                #gpio-cells = <2>;
		//interrupt-parent = <&gpio2>;
		//interrupts = <11 IRQ_TYPE_EDGE_FALLING>;
        };

	rtc@69 {
		compatible = "abracon,ab1805";
		reg = <0x69>;
		abracon,tc-diode = "schottky";
		abracon,tc-resistor = <3>;
	};

};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy4>;
	phy-reset-gpios = <&gpio3 19 GPIO_ACTIVE_LOW>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy4: ethernet-phy@4 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <4>;
			at803x,led-act-blind-workaround;
			at803x,eee-disabled;
			//at803x,vddio-1p8v;
		};
	};
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic@4b {
		compatible = "rohm,bd71847";
		reg = <0x4b>;
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <3 GPIO_ACTIVE_LOW>;
		rohm,reset-snvs-powered;

		regulators {
			buck1_reg: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
			};

			buck2_reg: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <1250>;
				rohm,dvs-run-voltage = <1000000>;
				rohm,dvs-idle-voltage = <900000>;
			};

			buck4_reg: BUCK4 {
				// BUCK6 in datasheet
				regulator-name = "BUCK4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5_reg: BUCK5 {
				// BUCK7 in datasheet
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1605000>;
				regulator-max-microvolt = <1995000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: BUCK6 {
				// BUCK8 in datasheet
				regulator-name = "BUCK6";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: LDO2 {
				regulator-name = "LDO2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo6_reg: LDO6 {
				regulator-name = "LDO6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&uart1 { /* BT */
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart1>;
        assigned-clocks = <&clk IMX8MN_CLK_UART1>;
        assigned-clock-parents = <&clk IMX8MN_SYS_PLL1_80M>;
        fsl,uart-has-rtscts;
        resets = <&modem_reset>;
        status = "okay";
};

&uart2 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 { /* RS485 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	assigned-clocks = <&clk IMX8MN_CLK_UART3>;
	assigned-clock-parents = <&clk IMX8MN_SYS_PLL1_80M>;
	fsl,uart-has-rtscts;
	fsl,dte-mode;
	status = "okay";
};

&uart4 { /* U-BLOX Nina B1 */
        pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	assigned-clocks = <&clk IMX8MN_CLK_UART4>;
	assigned-clock-parents = <&clk IMX8MN_SYS_PLL1_80M>;
	/delete-property/ dmas;
        /delete-property/ dmas-names;
	resets = <&ublox_reset>;
        status = "okay";
};

&usbotg1 {
	status = "okay";
	dr_mode = "host";
};

&usdhc1 { /* WIFI */
        #address-cells = <1>;
        #size-cells = <0>;
        pinctrl-names = "default", "state_100mhz", "state_200mhz";
        pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_wlan>;
        pinctrl-1 = <&pinctrl_usdhc1_100mhz>, <&pinctrl_wlan>;
        pinctrl-2 = <&pinctrl_usdhc1_200mhz>, <&pinctrl_wlan>;
        bus-width = <4>;
        pm-ignore-notify;
        keep-power-in-suspend;
        non-removable;
        cap-power-off-card;
        /delete-property/ vmmc-supply;
        mmc-pwrseq = <&usdhc1_pwrseq>;
        status = "okay";

        brcmf: bcrmf@1 {
                reg = <1>;
                compatible = "brcm,bcm4329-fmac";
                interrupt-parent = <&gpio2>;
                interrupts = <9 IRQ_TYPE_LEVEL_HIGH>;
                interrupt-names = "host-wake";
        };
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	//cd-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	//vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&ecspi2 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_ecspi2>;
	fsl,spi-num-chipselects = <1>;
        cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>; //GPIO5_IO13
        status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	
        can0: can@0 {
		clocks = <&clk24m>;
                compatible = "microchip,mcp25xxfd";
                pinctrl-names = "default";
                reg = <0>;
		spi-max-frequency = <20000000>;
		interrupt-parent = <&gpio5>;
                interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
        };

};


