// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 *
 * Overlay for enabling HummingBoard IIoT LVDS connector
 * with Winstar WF70A8SYJHLNGA panel.
 */

/dts-v1/;
/plugin/;

/* place-holder */
