// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 *
 * Overlay for enabling HummingBoard IIoT MIPI-DSI connector
 * with Winstar WJ70N3TYJHMNG0 panel.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	dsi_backlight: dsi-backlight {
		compatible = "gpio-backlight";
		gpios = <&tca6408_u48 3 GPIO_ACTIVE_LOW>;
	};
};

&i2c_dsi {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen@41 {
		reg = <0x41>;
		compatible = "ilitek,ili2130";
		reset-gpios = <&tca6408_u48 6 GPIO_ACTIVE_LOW>;
		interrupts-extended = <&tca6416_u21 13 IRQ_TYPE_LEVEL_LOW>;
	};
};

&lcdif1 {
	status = "okay";
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		reg = <0>;
		compatible = "ronbo,rb070d30";
		vcc-lcd-supply = <&reg_dsi_panel>;
		power-gpios = <&tca6408_u48 2 GPIO_ACTIVE_HIGH>;
		/* reset is active-low but driver inverts it internally */
		reset-gpios = <&tca6408_u48 1 GPIO_ACTIVE_HIGH>;
		updn-gpios = <&tca6408_u48 5 GPIO_ACTIVE_HIGH>;
		shlr-gpios = <&tca6408_u48 4 GPIO_ACTIVE_LOW>;
		backlight = <&dsi_backlight>;

		port {
			panel_from_dsim: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&dsim_to_panel>;
			};
		};
	};

	port@1 {
		dsim_to_panel: endpoint {
			remote-endpoint = <&panel_from_dsim>;
			attach-bridge;
		};
	};
};
