# LTTng options
CONFIG_FUNCTION_TRACER=y
CONFIG_HAVE_FUNCTION_TRACER=y
CONFIG_NOP_TRACER=y
CONFIG_STACKTRACE=y
CONFIG_RING_BUFFER=y
CONFIG_EVENT_TRACING=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_TRACING=y
CONFIG_GENERIC_TRACER=y
CONFIG_TRACING_SUPPORT=y
CONFIG_FTRACE=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_TRACEPOINTS=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_TRACE_CLOCK=y
CONFIG_BINARY_PRINTF=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_PERF_EVENTS=y
CONFIG_KPROBES=y
CONFIG_KRETPROBES=y
