#
# Freescale ARM SOC Drivers
#

config LS_SOC_DRIVERS
	bool "Layerscape Soc Drivers"
	depends on ARCH_LAYERSCAPE || SOC_LS1021A
	default n
	help
	Say y here to enable Freescale Layerscape Soc Device Drivers support.
	The Soc Drivers provides the device driver that is a specific block
	or feature on Layerscape platform.

if LS_SOC_DRIVERS
	source "drivers/soc/fsl/layerscape/Kconfig"
endif
