// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3S Development board (13mm_LPDDR4)
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;

/*
 * RSPI2_PINS_SEL - select between RSPI ch2 and POEG, GPT pins
 * RSPI2_LOOPBACK_SEL - select target SPI device
 * 			(N25Q256A flash with Digilent PMOD SF3 by default)
 */
#define RSPI2_PINS_SEL			1
#define RSPI2_LOOPBACK_SEL		0

#include "r9a08g045.dtsi"
#include "rzg3s-dev-common.dtsi"

/ {
	model = "Renesas Development EVK based on r9a08g045s31";
	compatible = "renesas,r9a08g045",
		     "renesas,r9a08g045s31", "renesas,r9a08g045s31-dev";
};
