// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3S SMARC EVK board
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;

/*
 * On-board switches' states:
 * @SW_OFF: switch's state is OFF
 * @SW_ON:  switch's state is ON
 */
#define SW_OFF		0
#define SW_ON		1

/*
 * SW_CONFIG[x] switches' states:
 * @SW_CONFIG2:
 *	SW_OFF - SD0 is connected to eMMC
 *	SW_ON  - SD0 is connected to uSD0 card
 * @SW_CONFIG3:
 *	SW_OFF - SD2 is connected to SoC
 *	SW_ON  - SCIF1, SSI0, IRQ0, IRQ1 connected to SoC
 */
#define SW_CONFIG2	SW_OFF
#define SW_CONFIG3	SW_ON

/*
 * Select between SCIF1 and SPDIF due to pins multiplex:
 * @SPDIF_SEL:
 *	SW_OFF - SCIF1 pins are selected (default)
 *	SW_ON  - SPDIF pins are selected
 */
#define SPDIF_SEL      SW_OFF

/*
 * SW_GPIO_CAN_PMOD[x]: switch between CAN and PMOD pins
 * @SW_GPIO_CAN_PMOD1:
 *	SW_OFF - GPIO8 is connected to GPIO8_PMOD
 *	SW_ON  - GPIO8 is connected to GPIO8_CAN0_STB
 * @SW_GPIO_CAN_PMOD2:
 *	SW_OFF - GPIO9 is connected to GPIO9_PMOD
 *	SW_ON  - GPIO9 is connected to GPIO9_CAN1_STB
 */
#define SW_GPIO_CAN_PMOD1	SW_OFF
#define SW_GPIO_CAN_PMOD2	SW_OFF

/*
 * RSPI0_LOOPBACK_SEL - select target SPI device between virtual loopback
			and N25Q256A flash on PMOD Digilent SF3 (default)
 */
#define RSPI0_LOOPBACK_SEL	0

#include "r9a08g045s33.dtsi"
#include "rzg3s-smarc-som.dtsi"
#include "rzg3s-smarc.dtsi"

/ {
	model = "Renesas SMARC EVK version 2 based on r9a08g045s33";
	compatible = "renesas,smarc2-evk", "renesas,rzg3s-smarcm",
		     "renesas,r9a08g045s33", "renesas,r9a08g045";
};
