// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3E SMARC EVK board
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

/dts-v1/;
/* Switch selection settings */
#define SW_SD0_DEV_SEL			0
#define SW_SDIO_M2E			0
#define SW_LCD_EN			0
#define SW_SER0_PMOD			0
#define SW_SER2_EN			0
#define SW_PDM_EN			0
#define SW_GPIO8_CAN0_STB		0
#define SW_GPIO9_CAN1_STB		0
#define SW_HDMI_EN			0

#define RZG3E_SMARC_MIPI_DSI_ENABLE	1

/*
 * Display support selection:
 * 0 - disable display selection support
 * 1 - enable display selection support
 * for:
 * - MIPI DSI: RZG3E_SMARC_MIPI_DSI_ENABLE
 * - Parallel RGB: SW_LCD_EN from above switch selection settings
 */

#include "rzg3e-smarc-common.dtsi"
#if (SW_LCD_EN)
#include "rzg3e-smarc-rgb.dtsi"
#endif
