// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2M (r9a09g011) Evaluation Kit Board
 *
 * Copyright (C) 2022 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a09g011.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzv2m-pinctrl.h>
#include "r9a09g011_reserved-memory.dtsi"
#include "r9a09g011_drp-ai.dtsi"
#include "r9a09g011_isp.dtsi"

/ {
	model = "RZ/V2M Evaluation Kit 2.0";
	compatible = "renesas,rzv2mevk2", "renesas,r9a09g011";

	aliases {
		serial0 = &uart0;
		ethernet0 = &avb;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@180000000 {
		device_type = "memory";
		reg = <0x1 0x80000000 0x0 0x7FC00000>;
	};

	reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pwc 0 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 0>, <1800000 1>;
	};
};

&avb {
	renesas,no-ether-link;
	phy-handle = <&phy0>;
	phy-mode = "gmii";
	status = "disabled";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c916",
			     "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&emmc {
	pinctrl-0 = <&emmc_pins>;
	pinctrl-1 = <&emmc_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3v3>;
	vqmmc-supply = <&reg_1v8>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	fixed-emmc-driver-type = <1>;
	max-frequency = <200000000>;
	status = "okay";
};

&extal_clk {
	clock-frequency = <48000000>;
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";
	clock-generator@68 {
		compatible = "idt,9fgv0241";
		reg = <0x68>;
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";
};

&pinctrl {
	csi4_pins: csi4 {
		pinmux = <RZV2M_PORT_PINMUX(4, 0, 1)>, /* CSTXD4  */
			 <RZV2M_PORT_PINMUX(4, 1, 1)>, /* CSRXD4  */
			 <RZV2M_PORT_PINMUX(4, 2, 1)>, /* CSSCLK4 */
			 <RZV2M_PORT_PINMUX(4, 3, 1)>; /* CSCS4   */
	};

	emmc_pins: emmc {
		emmc_data {
			pinmux = <RZV2M_PORT_PINMUX(0, 0, 2)>, /* MMDAT0 */
				 <RZV2M_PORT_PINMUX(0, 1, 2)>, /* MMDAT1 */
				 <RZV2M_PORT_PINMUX(0, 2, 2)>, /* MMDAT2 */
				 <RZV2M_PORT_PINMUX(0, 3, 2)>, /* MMDAT3 */
				 <RZV2M_PORT_PINMUX(0, 4, 2)>, /* MMDAT4 */
				 <RZV2M_PORT_PINMUX(0, 5, 2)>, /* MMDAT5 */
				 <RZV2M_PORT_PINMUX(0, 6, 2)>, /* MMDAT6 */
				 <RZV2M_PORT_PINMUX(0, 7, 2)>; /* MMDAT7 */
			power-source = <1800>;
		};

		emmc_ctrl {
			pinmux = <RZV2M_PORT_PINMUX(0, 10, 2)>, /* MMCMD */
				 <RZV2M_PORT_PINMUX(0, 11, 2)>; /* MMCLK */
			power-source = <1800>;
		};
	};

	i2c0_pins: i2c0 {
		pinmux = <RZV2M_PORT_PINMUX(5, 0, 2)>, /* SDA */
			 <RZV2M_PORT_PINMUX(5, 1, 2)>; /* SCL */
	};

	i2c2_pins: i2c2 {
		pinmux = <RZV2M_PORT_PINMUX(3, 8, 2)>, /* SDA */
			 <RZV2M_PORT_PINMUX(3, 9, 2)>; /* SCL */
	};

	sdhi0_pins: sd0 {
		sd0_data {
			pinmux = <RZV2M_PORT_PINMUX(8, 2, 1)>, /* SD0DAT0 */
				 <RZV2M_PORT_PINMUX(8, 3, 1)>, /* SD0DAT1 */
				 <RZV2M_PORT_PINMUX(8, 4, 1)>, /* SD0DAT2 */
				 <RZV2M_PORT_PINMUX(8, 5, 1)>; /* SD0DAT3 */
			power-source = <3300>;
		};

		sd0_ctrl {
			pinmux = <RZV2M_PORT_PINMUX(8, 0, 1)>, /* SD0CMD */
				 <RZV2M_PORT_PINMUX(8, 1, 1)>; /* SD0CLK */
			power-source = <3300>;
		};

		sd0_cd {
			pinmux = <RZV2M_PORT_PINMUX(8, 7, 1)>; /* SD0CD */
			power-source = <3300>;
		};
	};

	sdhi0_pins_uhs: sd0-uhs {
		sd0_uhs_data {
			pinmux = <RZV2M_PORT_PINMUX(8, 2, 1)>, /* SD0DAT0 */
				 <RZV2M_PORT_PINMUX(8, 3, 1)>, /* SD0DAT1 */
				 <RZV2M_PORT_PINMUX(8, 4, 1)>, /* SD0DAT2 */
				 <RZV2M_PORT_PINMUX(8, 5, 1)>; /* SD0DAT3 */
			power-source = <1800>;
		};

		sd0_uhs_ctrl {
			pinmux = <RZV2M_PORT_PINMUX(8, 0, 1)>, /* SD0CMD */
				 <RZV2M_PORT_PINMUX(8, 1, 1)>; /* SD0CLK */
			power-source = <1800>;
		};

		sd0_uhs_cd {
			pinmux = <RZV2M_PORT_PINMUX(8, 7, 1)>; /* SD0CD */
			power-source = <1800>;
		};
	};

	uart0_pins: uart0 {
		pinmux = <RZV2M_PORT_PINMUX(3, 0, 2)>, /* UATX0 */
			 <RZV2M_PORT_PINMUX(3, 1, 2)>, /* UARX0 */
			 <RZV2M_PORT_PINMUX(3, 2, 2)>, /* UACTS0N */
			 <RZV2M_PORT_PINMUX(3, 3, 2)>; /* UARTS0N */
	};

	pwm8_pins: pwm8 {
		pinmux = <RZV2M_PORT_PINMUX(1, 8, 1)>;  /* PM8 */
	};

	pwm9_pins: pwm9 {
		pinmux = <RZV2M_PORT_PINMUX(1, 9, 1)>;  /* PM9 */
	};

	pwm10_pins: pwm10 {
		pinmux = <RZV2M_PORT_PINMUX(1, 10, 1)>; /* PM10 */
	};

	pwm11_pins: pwm11 {
		pinmux = <RZV2M_PORT_PINMUX(1, 11, 1)>; /* PM11 */
	};

	pwm12_pins: pwm12 {
		pinmux = <RZV2M_PORT_PINMUX(1, 12, 1)>; /* PM12 */
	};

	pwm13_pins: pwm13 {
		pinmux = <RZV2M_PORT_PINMUX(1, 13, 1)>; /* PM13 */
	};

	pwm14_pins: pwm14 {
		pinmux = <RZV2M_PORT_PINMUX(1, 14, 1)>; /* PM14 */
	};
};

&pwc {
	renesas,rzv2m-pwc-power;
	status = "okay";
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-1 = <&sdhi0_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3v3>;
	vqmmc-supply = <&vccq_sdhi0>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&usb3drd {
	status = "okay";
};

&usb3host {
	status = "disabled";
};

&usb3peri {
	companion = <&usb3host>;
	status = "okay";
	usb-role-switch;
};

&wdt0 {
	status = "okay";
};

&pcie {
    status = "okay";
};

&tim8 {
    status = "okay";
};

&tim9 {
    status = "okay";
};

&tim10 {
    status = "okay";
};

&tim11 {
    status = "okay";
};

&tim12 {
    status = "okay";
};

&tim13 {
    status = "okay";
};

&tim14 {
    status = "okay";
};

&tim15 {
    status = "okay";
};

&tim16 {
    status = "okay";
};

&tim17 {
    status = "okay";
};

&tim18 {
    status = "okay";
};

&tim19 {
    status = "okay";
};

&tim20 {
    status = "okay";
};

&tim21 {
    status = "okay";
};

&tim22 {
    status = "okay";
};

&tim23 {
    status = "okay";
};

&csi4 {
	pinctrl-0 = <&csi4_pins>;
	pinctrl-names = "default";

	status = "okay";
	slavedev4: spi@0 {
		compatible = "rzv2m,slavedev";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-cpha;
		spi-cpol;
	};
};

&pwm8 {
	pinctrl-0 = <&pwm8_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm9 {
	pinctrl-0 = <&pwm9_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm10 {
	pinctrl-0 = <&pwm10_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm11 {
	pinctrl-0 = <&pwm11_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm12 {
	pinctrl-0 = <&pwm12_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm13 {
	pinctrl-0 = <&pwm13_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm14 {
	pinctrl-0 = <&pwm14_pins>;
	pinctrl-names = "default";
	status = "okay";
};
