// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2N(P) SoC
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

#include <dt-bindings/clock/renesas,r9a09g056-cpg.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "renesas,r9a09g056";
	#address-cells = <2>;
	#size-cells = <2>;

	audio_extal_clk: audio-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* ptp_clock input */
	ptp_clock: ptp_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <125000000>;
	};

	/* et0_txc_tx_clk clock input */
	et0_txc_tx_clk: et0_txc_tx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et0_rxc_rx_clk clock input */
	et0_rxc_rx_clk: et0_rxc_rx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et1_txc_tx_clk clock input */
	et1_txc_tx_clk: et1_txc_tx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et1_rxc_rx_clk clock input */
	et1_rxc_rx_clk: et1_rxc_rx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a55";
			reg = <0>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		cpu1: cpu@100 {
			compatible = "arm,cortex-a55";
			reg = <0x100>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		cpu2: cpu@200 {
			compatible = "arm,cortex-a55";
			reg = <0x200>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		cpu3: cpu@300 {
			compatible = "arm,cortex-a55";
			reg = <0x300>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		L3_CA55: cache-controller-0 {
			compatible = "cache";
			cache-unified;
			cache-size = <0x100000>;
			cache-level = <3>;
		};
	};

	gpu_opp_table: opp-table-1 {
		compatible = "operating-points-v2";

		opp-630000000 {
			opp-hz = /bits/ 64 <630000000>;
			opp-microvolt = <1100000>;
		};

		opp-315000000 {
			opp-hz = /bits/ 64 <315000000>;
			opp-microvolt = <1100000>;
		};

		opp-158000000 {
			opp-hz = /bits/ 64 <158000000>;
			opp-microvolt = <1100000>;
		};

		opp-79000000 {
			opp-hz = /bits/ 64 <79000000>;
			opp-microvolt = <1100000>;
		};

		opp-20000000 {
			opp-hz = /bits/ 64 <20000000>;
			opp-microvolt = <1100000>;
		};
	};


	psci {
		compatible = "arm,psci-1.0", "arm,psci-0.2";
		method = "smc";
	};

	qextal_clk: qextal-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	rtxin_clk: rtxin-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	soc: soc {
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		icu: interrupt-controller@10400000 {
			compatible = "renesas,r9a09g056-icu";
			reg = <0 0x10400000 0 0x10000>;
			#interrupt-cells = <2>;
			#address-cells = <0>;
			interrupt-controller;
			interrupts = <GIC_SPI 0 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 1 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 6 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 8 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 12 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 14 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 419 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 420 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 421 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 422 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 423 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 424 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 425 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 426 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 427 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 428 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 429 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 430 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 431 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 432 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 433 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 434 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 435 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 436 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 437 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 438 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 439 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 440 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 441 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 442 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 443 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 444 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 445 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 446 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 447 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 448 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 449 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 450 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 262 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 263 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 264 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 265 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 266 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 451 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 452 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 453 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 454 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "nmi",
					  "port_irq0", "port_irq1", "port_irq2",
					  "port_irq3", "port_irq4", "port_irq5",
					  "port_irq6", "port_irq7", "port_irq8",
					  "port_irq9", "port_irq10", "port_irq11",
					  "port_irq12", "port_irq13", "port_irq14",
					  "port_irq15",
					  "tint0", "tint1", "tint2", "tint3",
					  "tint4", "tint5", "tint6", "tint7",
					  "tint8", "tint9", "tint10", "tint11",
					  "tint12", "tint13", "tint14", "tint15",
					  "tint16", "tint17", "tint18", "tint19",
					  "tint20", "tint21", "tint22", "tint23",
					  "tint24", "tint25", "tint26", "tint27",
					  "tint28", "tint29", "tint30", "tint31",
					  "int-ca55-0", "int-ca55-1",
					  "int-ca55-2", "int-ca55-3",
					  "icu-error-ca55",
					  "gpt-u0-gtciada", "gpt-u0-gtciadb",
					  "gpt-u1-gtciada", "gpt-u1-gtciadb";
			clocks = <&cpg CPG_MOD 0x5>;
			clock-names = "pclk";
			power-domains = <&cpg>;
			resets = <&cpg 0x36>;
			status = "okay";
		};

		pinctrl: pinctrl@10410000 {
			compatible = "renesas,r9a09g056-pinctrl";
			reg = <0 0x10410000 0 0x10000>;
			clocks = <&cpg CPG_CORE R9A09G056_IOTOP_0_SHCLK>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 0 96>;
			#interrupt-cells = <2>;
			interrupt-controller;
			interrupt-parent = <&icu>;
			power-domains = <&cpg>;
			resets = <&cpg 0xa5>, <&cpg 0xa6>;
		};

		gpu: gpu@14850000{
			compatible = "renesas,r9a09g056-mali",
			"arm,mali-bifrost";
			reg = <0x0 0x14850000 0x0 0x10000>;
			interrupts = <GIC_SPI 883 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 884 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 885 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 886 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "gpu", "job", "mmu", "event";
			clocks = <&cpg CPG_MOD 0xF0>,
				<&cpg CPG_MOD 0xF1>,
				<&cpg CPG_MOD 0xF2>;
			clock-names = "gpu_clk", "gpu_axi_clk", "gpu_ace_clk";
			resets = <&cpg 0xDD>,
			<&cpg 0xDE>,
			<&cpg 0xDF>;
			reset-names = "rst", "axi_rst", "ace_rst";
			operating-points-v2 = <&gpu_opp_table>;
		};

		cpg: clock-controller@10420000 {
			compatible = "renesas,r9a09g056-cpg";
			reg = <0 0x10420000 0 0x10000>;
			clocks = <&audio_extal_clk>, <&rtxin_clk>, <&qextal_clk>,
				 <&et0_txc_tx_clk>, <&et0_rxc_rx_clk>,
				 <&et1_txc_tx_clk>, <&et1_rxc_rx_clk>;
			clock-names = "audio_extal", "rtxin", "qextal",
				      "et0_txc_tx_clk", "et0_rxc_rx_clk",
				      "et1_txc_tx_clk", "et1_rxc_rx_clk";
			#clock-cells = <2>;
			#reset-cells = <1>;
			#power-domain-cells = <0>;
		};

		dmac0: dma-controller@11400000 {
			compatible = "renesas,r9a09g056-dmac";
			reg = <0 0x11400000 0 0x10000>;
			interrupts = <GIC_SPI 499 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 89 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 90 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 91 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 92 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 93 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 94 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 95 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 96 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 97 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 98 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 99 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 100 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 101 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 102 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 103 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 104 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error",
					  "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15";
			clocks = <&cpg CPG_MOD 0x0>;
			power-domains = <&cpg>;
			resets = <&cpg 0x31>;
			#dma-cells = <1>;
			dma-channels = <16>;
			status = "disabled";
		};

		dmac1: dma-controller@14830000 {
			compatible = "renesas,r9a09g056-dmac";
			reg = <0 0x14830000 0 0x10000>;
			interrupts = <GIC_SPI 495 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 25 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 26 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 27 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 28 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 29 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 30 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 31 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 32 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 33 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 34 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 35 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 36 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 37 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 38 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 39 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 40 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error",
					  "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15";
			clocks = <&cpg CPG_MOD 0x1>;
			power-domains = <&cpg>;
			resets = <&cpg 0x32>;
			#dma-cells = <1>;
			dma-channels = <16>;
			peripheral-request = <&icu 0>;
			status = "okay";
		};

		dmac2: dma-controller@14840000 {
			compatible = "renesas,r9a09g056-dmac";
			reg = <0 0x14840000 0 0x10000>;
			interrupts = <GIC_SPI 496 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 41 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 42 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 43 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 44 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 45 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 46 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 47 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 48 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 49 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 50 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 51 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 52 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 53 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 54 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 55 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 56 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error",
					  "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15";
			clocks = <&cpg CPG_MOD 0x2>;
			power-domains = <&cpg>;
			resets = <&cpg 0x33>;
			#dma-cells = <1>;
			dma-channels = <16>;
			peripheral-request = <&icu 1>;
			status = "okay";
		};

		dmac3: dma-controller@12000000 {
			compatible = "renesas,r9a09g056-dmac";
			reg = <0 0x12000000 0 0x10000>;
			interrupts = <GIC_SPI 497 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 57 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 58 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 59 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 60 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 61 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 62 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 63 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 64 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 65 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 66 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 67 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 68 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 69 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 70 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 71 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 72 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error",
					  "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15";
			clocks = <&cpg CPG_MOD 0x3>;
			power-domains = <&cpg>;
			resets = <&cpg 0x34>;
			#dma-cells = <1>;
			dma-channels = <16>;
			status = "disabled";
		};

		dmac4: dma-controller@12010000 {
			compatible = "renesas,r9a09g056-dmac";
			reg = <0 0x12010000 0 0x10000>;
			interrupts = <GIC_SPI 498 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 73 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 74 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 75 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 76 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 77 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 78 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 79 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 80 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 81 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 82 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 83 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 84 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 85 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 86 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 87 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 88 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error",
					  "ch0", "ch1", "ch2", "ch3",
					  "ch4", "ch5", "ch6", "ch7",
					  "ch8", "ch9", "ch10", "ch11",
					  "ch12", "ch13", "ch14", "ch15";
			clocks = <&cpg CPG_MOD 0x4>;
			power-domains = <&cpg>;
			resets = <&cpg 0x35>;
			#dma-cells = <1>;
			dma-channels = <16>;
			status = "disabled";
		};

		isu: isum@16450000 {
			compatible = "renesas,isum";
			reg = <0 0x16450000 0 0x01F4>;
			interrupts = <GIC_SPI 867 IRQ_TYPE_EDGE_RISING>,
					     <GIC_SPI 868 IRQ_TYPE_EDGE_RISING>,
					     <GIC_SPI 869 IRQ_TYPE_EDGE_RISING>,
					     <GIC_SPI 870 IRQ_TYPE_EDGE_RISING>,
					     <GIC_SPI 871 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 872 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 873 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xe6>, <&cpg CPG_MOD 0xe7>;
			clock-names = "isu_aclk", "isu_pclk";
			resets = <&cpg 0xd5>, <&cpg 0xd6>;
			reset-names = "aresetn", "presetn";
			renesas,#ch = <0>;
			renesas,#rpf = <1>;
			renesas,#wpf = <1>;
			renesas,has-rs;
			power-domains = <&cpg>;
		};

		dsi0: dsi@16430000 {
			compatible = "renesas,r9a09g056-mipi-dsi",
				     "renesas,rzv2n-mipi-dsi";
			reg = <0 0x16430000 0 0x20000>;
			clocks = <&cpg CPG_MOD 0xe8>,
				 <&cpg CPG_MOD 0xe9>,
				 <&cpg CPG_MOD 0xea>,
				 <&cpg CPG_MOD 0xeb>,
				 <&cpg CPG_MOD 0xec>;
			clock-names = "pclk", "aclk",
				      "vclk", "lpclk", "pllclk";
			resets = <&cpg 0xd7>,
				 <&cpg 0xd8>;
			reset-names = "prst", "arst";
			power-domains = <&cpg>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dsi0_in: endpoint {
						remote-endpoint = <&du_out_dsi0>;
					};
				};

				port@1 {
					reg = <1>;
					dsi0_out: endpoint {
					};
				};
			};
		};

		du: display@16460000 {
			compatible = "renesas,r9a09g056-du";
			reg = <0 0x16460000 0 0x10000>;
			interrupts = <GIC_SPI 882 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xed>,
				 <&cpg CPG_MOD 0xee>,
				 <&cpg CPG_MOD 0xef>;
			clock-names = "aclk", "pclk", "vclk";
			power-domains = <&cpg>;
			resets = <&cpg 0xdc>;
			renesas,vsps = <&vspd 0>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					du_out_dsi0: endpoint {
						remote-endpoint = <&dsi0_in>;
					};
				};
			};
		};

		fcpvd: fcp@16470000 {
			compatible = "renesas,r9a09g056-fcpvd",
				     "renesas,fcpv";
			reg = <0 0x10880000 0 0x10000>;
			clocks = <&cpg CPG_MOD 0xed>,
				 <&cpg CPG_MOD 0xee>,
				 <&cpg CPG_MOD 0xef>;
			clock-names = "aclk", "pclk", "vclk";
			resets = <&cpg 0xdc>;
			power-domains = <&cpg>;
		};

		vspd: vsp@16480000 {
			compatible = "renesas,r9a07g044-vsp2";
			reg = <0 0x16480000 0 0x10000>;
			interrupts = <GIC_SPI 881 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xed>,
				 <&cpg CPG_MOD 0xee>,
				 <&cpg CPG_MOD 0xef>;
			clock-names = "aclk", "pclk", "vclk";
			resets = <&cpg 0xdc>;
			power-domains = <&cpg>;
			renesas,fcp = <&fcpvd>;
		};

		sys: system-controller@10430000 {
			compatible = "renesas,r9a09g056-sys";
			reg = <0 0x10430000 0 0x10000>;
			clocks = <&cpg CPG_CORE R9A09G056_SYS_0_PCLK>;
			resets = <&cpg 0x30>;
			status = "disabled";
		};

		i2c8: i2c@11c01000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x11c01000 0 0x400>;
			interrupts = <GIC_SPI 222 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 523 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 522 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 224 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 225 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 223 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 226 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 227 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 147>;
			clock-frequency = <100000>;
			resets = <&cpg 160>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		usb20phyrst: usb20phy-ctrl@15830000 {
			compatible = "renesas,r9a09g056-usbphy-ctrl",
				     "renesas,rzv2h-usbphy-ctrl";
			reg = <0 0x15830000 0 0x10000>;
			clocks = <&cpg CPG_MOD 0xb6>;
			resets = <&cpg 0xaf>;
			power-domains = <&cpg>;
			#reset-cells = <1>;
			status = "disabled";
		};

		ohci0: usb@15800000 {
			compatible = "generic-ohci";
			reg = <0 0x15800000 0 0x100>;
			interrupts = <GIC_SPI 742 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xb3>;
			resets = <&usb20phyrst 0>,
				 <&cpg 0xac>;
			phys = <&usb2_phy0 1>;
			phy-names = "usb";
			power-domains = <&cpg>;
			status = "disabled";
		};

		ehci0: usb@15800100 {
			compatible = "generic-ehci";
			reg = <0 0x15800100 0 0x100>;
			interrupts = <GIC_SPI 743 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xb3>;
			resets = <&usb20phyrst 0>,
				 <&cpg 0xac>;
			phys = <&usb2_phy0 2>;
			phy-names = "usb";
			companion = <&ohci0>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		usb2_phy0: usb-phy@15800200 {
			compatible = "renesas,usb2-phy-r9a09g056",
				     "renesas,rzv2n-usb2-phy";
			reg = <0 0x15800200 0 0x700>;
			interrupts = <GIC_SPI 745 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xb3>;
			resets = <&usb20phyrst 0>;
			#phy-cells = <1>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		hsusb: usb@15820000 {
			compatible = "renesas,usbhs-r9a09g056",
				     "renesas,rza2-usbhs";
			reg = <0 0x15820000 0 0x10000>;
			interrupts = <GIC_SPI 751 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 752 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 753 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 754 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xb5>;
			resets = <&usb20phyrst 0>,
				 <&cpg 0xae>;
			phys = <&usb2_phy0 3>;
			phy-names = "usb";
			power-domains = <&cpg>;
			status = "disabled";
		};

		usb3_phy0: usb-phy@15870000 {
			compatible = "renesas,usb3-phy-r9a09g056",
					"renesas,rz-usb3-phy";
			reg = <0 0x15870000 0 0x10000>;
			clocks = <&cpg CPG_MOD 0xb0>;
			power-domains = <&cpg>;
			resets = <&cpg 0xaa>;
			#phy-cells = <0>;
			status = "disabled";
		};

		xhci0: usb@15850000 {
			compatible = "renesas,rzv2n-xhci";
			reg = <0 0x15850000 0 0x10000>;
			interrupts = <GIC_SPI 759 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xaf>,
				 <&cpg CPG_MOD 0xb0>;
			clock-names = "reg", "usbtst";
			power-domains = <&cpg>;
			resets = <&cpg 0xaa>;
			phys = <&usb3_phy0>;
			phy-names = "usb0";
			status = "disabled";
		};

		fcpcs: vcp4@16410000 {
			compatible = "renesas,vcp4-fcpcs";
			reg = <0 0x16410000 0 0x1000>;
			renesas,#ch = <0>;
		};

		vdpb: vcp4@16400000 {
			compatible = "renesas,vcp4-vdpb";
			reg = <0 0x16400000 0 0x1000>, <0 0x16420200 0 0xE00>;
			interrupts = <GIC_SPI 887 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 888 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xf3>, <&cpg CPG_MOD 0xf4>;
			power-domains = <&cpg>;
			resets = <&cpg 0xe0>;
			renesas,#ch = <0>;
			renesas,#fcp_ch = <0>;
		};

		scif: serial@11c01400 {
			compatible = "renesas,scif-r9a09g056", "renesas,scif-r9a07g044";
			reg = <0 0x11c01400 0 0x400>;
			interrupts = <GIC_SPI 529 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 532 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 533 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 530 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 534 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 531 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 535 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 536 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 537 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "eri", "rxi", "txi", "bri", "dri",
					  "tei", "tei-dri", "rxi-edge", "txi-edge";
			clocks = <&cpg CPG_MOD 0x8f>;
			clock-names = "fck";
			power-domains = <&cpg>;
			resets = <&cpg 0x95>;
			status = "disabled";
		};

		i2c0: i2c@14400400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14400400 0 0x400>;
			interrupts = <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 507 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 506 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 177 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 178 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 179 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 148>;
			clock-frequency = <100000>;
			resets = <&cpg 152>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c1: i2c@14400800 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14400800 0 0x400>;
			interrupts = <GIC_SPI 180 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 509 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 508 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 182 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 183 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 181 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 184 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 185 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 149>;
			clock-frequency = <100000>;
			resets = <&cpg 153>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c2: i2c@14400c00 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14400c00 0 0x400>;
			interrupts = <GIC_SPI 186 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 511 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 510 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 188 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 189 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 187 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 190 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 191 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 150>;
			clock-frequency = <100000>;
			resets = <&cpg 154>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c3: i2c@14401000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14401000 0 0x400>;
			interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 513 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 512 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 194 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 195 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 193 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 196 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 197 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 151>;
			clock-frequency = <100000>;
			resets = <&cpg 155>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c4: i2c@14401400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14401400 0 0x400>;
			interrupts = <GIC_SPI 198 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 515 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 514 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 200 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 201 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 199 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 202 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 203 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 152>;
			clock-frequency = <100000>;
			resets = <&cpg 156>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c5: i2c@14401800 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14401800 0 0x400>;
			interrupts = <GIC_SPI 204 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 517 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 516 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 206 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 207 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 205 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 209 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 153>;
			clock-frequency = <100000>;
			resets = <&cpg 157>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c6: i2c@14401c00 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14401c00 0 0x400>;
			interrupts = <GIC_SPI 210 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 519 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 518 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 212 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 213 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 211 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 214 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 215 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 154>;
			clock-frequency = <100000>;
			resets = <&cpg 158>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c7: i2c@14402000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g056";
			reg = <0 0x14402000 0 0x400>;
			interrupts = <GIC_SPI 216 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 521 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 520 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 218 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 219 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 217 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 220 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 221 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD 155>;
			clock-frequency = <100000>;
			resets = <&cpg 159>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i3c: i3c-master@12400000 {
			compatible = "renesas,i3c-master";
			reg = <0 0x12400000 0 0x10000>;
			clocks = <&cpg CPG_MOD 144>,
				 <&cpg CPG_MOD 145>,
				 <&cpg CPG_MOD 146>;
			clock-names = "pclkrw", "pclk", "tclk";
			interrupts = <GIC_SPI 674 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 675 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 676 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 677 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 678 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 679 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 680 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 681 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 682 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 683 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 684 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 685 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 686 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 687 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 688 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 689 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 690 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 691 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 692 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 693 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 694 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 695 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 696 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "ierr", "terr", "abort", "resp",
					  "cmd", "ibi", "rx", "tx", "rcv",
					  "hterr", "habort", "hresp", "hcmd",
					  "hrx", "htx", "st", "sp", "exit",
					  "tend", "nack", "al", "tmo", "wu";
			resets = <&cpg 150>,
				 <&cpg 151>;
			reset-names = "presetn", "tresetn";
			#address-cells = <3>;
			#size-cells = <0>;
			i2c-scl-hz = <1000000>;
			i3c-scl-hz = <3000000>;
			status = "disabled";
		};

		gic: interrupt-controller@14900000 {
			compatible = "arm,gic-v3";
			reg = <0x0 0x14900000 0 0x20000>,
			      <0x0 0x14940000 0 0x80000>;
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_LOW>;
		};

		eth0: ethernet@15C30000 {
			compatible = "renesas,rzv2h-eqos",
				     "renesas,rzv2n-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x15C30000 0 0x10000>;
			interrupts = <GIC_SPI 765 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 767 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 766 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks = <&cpg CPG_MOD 0xb8>,
				 <&cpg CPG_MOD 0xb9>,
				 <&cpg CPG_MOD 0xba>,
				 <&cpg CPG_MOD 0xbb>,
				 <&cpg CPG_MOD 0xbc>,
				 <&cpg CPG_MOD 0xbd>,
				 <&ptp_clock>;
			clock-names = "tx", "rx", "tx_180", "rx_180", "slave_bus",
				      "master_bus", "ptp_ref";
			resets = <&cpg 0xb0>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		eth1: ethernet@15C40000 {
			compatible = "renesas,rzv2h-eqos",
				     "renesas,rzv2n-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x15C40000 0 0x10000>;
			interrupts = <GIC_SPI 780 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 782 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 781 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks = <&cpg CPG_MOD 0xbe>,
				 <&cpg CPG_MOD 0xbf>,
				 <&cpg CPG_MOD 0xc0>,
				 <&cpg CPG_MOD 0xc1>,
				 <&cpg CPG_MOD 0xc2>,
				 <&cpg CPG_MOD 0xc3>,
				 <&ptp_clock>;
			clock-names = "tx", "rx", "tx_180", "rx_180", "slave_bus",
				      "master_bus", "ptp_ref";
			resets = <&cpg 0xb1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		ostm0: timer@11800000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x11800000 0x0 0x1000>;
			interrupts = <GIC_SPI 17 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x43>;
			resets = <&cpg 0x6d>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm1: timer@11801000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x11801000 0x0 0x1000>;
			interrupts = <GIC_SPI 18 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x44>;
			resets = <&cpg 0x6e>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm2: timer@14000000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x14000000 0x0 0x1000>;
			interrupts = <GIC_SPI 19 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x45>;
			resets = <&cpg 0x6f>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm3: timer@14001000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x14001000 0x0 0x1000>;
			interrupts = <GIC_SPI 20 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x46>;
			resets = <&cpg 0x70>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm4: timer@12c00000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x12c00000 0x0 0x1000>;
			interrupts = <GIC_SPI 21 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x47>;
			resets = <&cpg 0x71>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm5: timer@12c01000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x12c01000 0x0 0x1000>;
			interrupts = <GIC_SPI 22 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x48>;
			resets = <&cpg 0x72>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm6: timer@12c02000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x12c02000 0x0 0x1000>;
			interrupts = <GIC_SPI 23 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x49>;
			resets = <&cpg 0x73>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm7: timer@12c03000 {
			compatible = "renesas,r9a09g056-ostm", "renesas,ostm";
			reg = <0x0 0x12c03000 0x0 0x1000>;
			interrupts = <GIC_SPI 24 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x4a>;
			resets = <&cpg 0x74>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt0: watchdog@11C04000 {
			compatible = "renesas,r9a09g056-wdt";
			reg = <0 0x11C00400 0 0x400>;
			clocks = <&cpg CPG_MOD 0x4B>,
				 <&cpg CPG_MOD 0x4C>;
			clock-names = "pclk", "oscclk";
			resets = <&cpg 0x75>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt1: watchdog@14400000 {
			compatible = "renesas,r9a09g056-wdt";
			reg = <0 0x14400000 0 0x400>;
			clocks = <&cpg CPG_MOD 0x4D>,
				 <&cpg CPG_MOD 0x4E>;
			clock-names = "pclk", "oscclk";
			resets = <&cpg 0x76>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt2: watchdog@13000000 {
			compatible = "renesas,r9a09g056-wdt";
			reg = <0 0x13000000 0 0x400>;
			clocks = <&cpg CPG_MOD 0x4F>,
				 <&cpg CPG_MOD 0x50>;
			clock-names = "pclk", "oscclk";
			resets = <&cpg 0x77>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt3: watchdog@13000400 {
			compatible = "renesas,r9a09g056-wdt";
			reg = <0 0x13000400 0 0x400>;
			clocks = <&cpg CPG_MOD 0x51>,
				 <&cpg CPG_MOD 0x52>;
			clock-names = "pclk", "oscclk";
			resets = <&cpg 0x78>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		sdhi0: mmc@15c00000  {
			compatible = "renesas,sdhi-r9a09g056",
				     "renesas,rcar-gen3-sdhi";
			reg = <0x0 0x15c00000 0 0x10000>;
			interrupts = <GIC_SPI 735 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 736 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xa3>,
				 <&cpg CPG_MOD 0xa5>,
				 <&cpg CPG_MOD 0xa4>,
				 <&cpg CPG_MOD 0xa6>;
			clock-names = "core", "clkh", "cd", "aclk";
			resets = <&cpg 0xa7>;
			power-domains = <&cpg>;
			mmc-no-pin-volt-switch;
			status = "disabled";
		};

		sdhi1: mmc@15c10000 {
			compatible = "renesas,sdhi-r9a09g056",
					"renesas,rcar-gen3-sdhi";
			reg = <0x0 0x15c10000 0 0x10000>;
			interrupts = <GIC_SPI 737 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 738 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xa7>,
				 <&cpg CPG_MOD 0xa9>,
				 <&cpg CPG_MOD 0xa8>,
				 <&cpg CPG_MOD 0xaa>;
			clock-names = "core", "clkh", "cd", "aclk";
			resets = <&cpg 0xa8>;
			power-domains = <&cpg>;
			mmc-no-pin-volt-switch;
			status = "disabled";
		};

		sdhi2: mmc@15c20000 {
			compatible = "renesas,sdhi-r9a09g056",
					"renesas,rcar-gen3-sdhi";
			reg = <0x0 0x15c20000 0 0x10000>;
			interrupts = <GIC_SPI 739 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 740 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xab>,
				 <&cpg CPG_MOD 0xad>,
				 <&cpg CPG_MOD 0xac>,
				 <&cpg CPG_MOD 0xae>;
			clock-names = "core", "clkh", "cd", "aclk";
			resets = <&cpg 0xa9>;
			power-domains = <&cpg>;
			mmc-no-pin-volt-switch;
			status = "disabled";
		};

		rtc: rtc@11c00800 {
			compatible = "renesas,r9a09g056-rtc", "renesas,rtca-3";
			reg = <0 0x11C00800 0 0x400>;
			interrupts = <GIC_SPI 525 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 526 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 524 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "periodic", "carry", "alarm";
			clocks = <&cpg CPG_MOD 0x53>;
			clock-names = "fck";
			resets = <&cpg 0x79>,
				 <&cpg 0x80>;
			reset-names = "rtc", "rtc_v";
			power-domains = <&cpg>;
			status = "disabled";
		};

		spi0: spi@12800000 {
			compatible = "renesas,rspi-v2n";
			reg = <0 0x12800000 0 0x400>;
			interrupts = <GIC_SPI 106 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 500 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 501 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error", "rx", "tx";
			clocks = <&cpg CPG_MOD 0x54>,
				 <&cpg CPG_MOD 0x55>,
				 <&cpg CPG_MOD 0x56>;
			resets = <&cpg 0x7b>;
			power-domains = <&cpg>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi1: spi@12800400 {
			compatible = "renesas,rspi-v2n";
			reg = <0 0x12800400 0 0x400>;
			interrupts = <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 502 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 503 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error", "rx", "tx";
			clocks = <&cpg CPG_MOD 0x57>,
				<&cpg CPG_MOD 0x58>,
				<&cpg CPG_MOD 0x59>;
			resets = <&cpg 0x7d>;
			power-domains = <&cpg>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi2: spi@12800800 {
			compatible = "renesas,rspi-v2n";
			reg = <0 0x12800800 0 0x400>;
			interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 504 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 505 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "error", "rx", "tx";
			clocks = <&cpg CPG_MOD 0x5a>,
				<&cpg CPG_MOD 0x5b>,
				<&cpg CPG_MOD 0x5c>;
			resets = <&cpg 0x7f>;
			dmas = <&dmac1 0x7F4C91>, <&dmac1 0x7F4C90>;
			dma-names = "tx", "rx";
			power-domains = <&cpg>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		xspi: spi@11030000 {
			compatible = "renesas,v2h-xspi-if";
			reg = <0 0x11030000 0 0x10000>,
			      <0 0x20000000 0 0x1000000>;
			reg-names = "regs", "dirmap";
			clocks = <&cpg CPG_MOD 0xa1>,
				 <&cpg CPG_MOD 0x9f>,
				 <&cpg CPG_MOD 0xa0>,
				 <&cpg CPG_MOD 0xa2>,
				 <&cpg CPG_CORE CLK_SMUX2_XSPI_CLK1>,
				 <&cpg CPG_CORE CLK_SMUX2_XSPI_CLK0>,
				 <&cpg CPG_CORE CLK_PLLCM33_XSPI>;
			clock-names = "spi", "hclk", "aclk", "spix2",
				 "sel_clk", "parent_clk", "pllcm33_xspi";
			resets = <&cpg 0xa3>,
				 <&cpg 0xa4>;
			power-domains = <&cpg>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		cmtw0: timer@11C01800 {
			compatible = "renesas,rzv2n-cmtw";
			reg = <0 0x11C01800 0 0x1000>;
			interrupts = <GIC_SPI 455 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 456 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 457 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 458 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x3b>, <&cpg CPG_MOD 0x3c>,
				 <&cpg CPG_MOD 0x3d>, <&cpg CPG_MOD 0x3e>;
			clock-names = "fck0", "fck1", "fck2", "fck3";
			resets = <&cpg 0x65>, <&cpg 0x66>,
				 <&cpg 0x67>, <&cpg 0x68>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		cmtw1: timer@13000C00 {
			compatible = "renesas,rzv2n-cmtw";
			reg = <0 0x13000C00 0 0x1000>;
			interrupts = <GIC_SPI 459 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 460 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 461 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 462 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD 0x3f>, <&cpg CPG_MOD 0x40>,
				 <&cpg CPG_MOD 0x41>, <&cpg CPG_MOD 0x42>;
			clock-names = "fck0", "fck1", "fck2", "fck3";
			resets = <&cpg 0x69>, <&cpg 0x6a>,
				 <&cpg 0x6b>, <&cpg 0x6c>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		cru0: cru0@16000000 {
			compatible = "renesas,r9a09g056-cru", "renesas,rzv2n-cru";
			reg = <0 0x16000000 0 0x400>;
			clocks = <&cpg CPG_MOD 0xd3>,
				 <&cpg CPG_MOD 0xd4>,
				 <&cpg CPG_MOD 0xd2>;
			clock-names = "video", "pclk", "aclk";
			interrupts = <GIC_SPI 838 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cpg 0xc5>,
				 <&cpg 0xc6>;
			reset-names = "presetn", "aresetn";
			power-domains = <&cpg>;
			channel,id = <0>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					cru0_to_csi20: endpoint {
						remote-endpoint =
							<&csi20_to_cru0>;
					};
				};
			};
		};

		cru1: cru1@16010000 {
			compatible = "renesas,r9a09g056-cru", "renesas,rzv2n-cru";
			reg = <0 0x16010000 0 0x400>;
			clocks = <&cpg CPG_MOD 0xd6>,
				 <&cpg CPG_MOD 0xd7>,
				 <&cpg CPG_MOD 0xd5>;
			clock-names = "video", "pclk", "aclk";
			interrupts = <GIC_SPI 844 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cpg 0xc8>,
				 <&cpg 0xc9>;
			reset-names = "presetn", "aresetn";
			power-domains = <&cpg>;
			channel,id = <1>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					cru1_to_csi21: endpoint {
						remote-endpoint =
							<&csi21_to_cru1>;
					};
				};
			};
		};

		csi20: csi20@16000400 {
			compatible = "renesas,r9a09g056-csi2", "renesas,rzv2n-csi2";
			reg = <0 0x16000400 0 0xc00>;
			interrupts = <GIC_SPI 837 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xd3>,
				 <&cpg CPG_MOD 0xde>;
			clock-names = "video", "system";
			resets = <&cpg 0xc7>;
			reset-names = "cmn-rstb";
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					csi20_to_cru0: endpoint {
						remote-endpoint =
							<&cru0_to_csi20>;
					};
				};
			};
		};

		csi21: csi21@16010400 {
			compatible = "renesas,r9a09g056-csi2", "renesas,rzv2n-csi2";
			reg = <0 0x16010400 0 0xc00>;
			interrupts = <GIC_SPI 843 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD 0xd6>,
				 <&cpg CPG_MOD 0xdf>;
			clock-names = "video", "system";
			resets = <&cpg 0xca>;
			reset-names = "cmn-rstb";
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					csi21_to_cru1: endpoint {
						remote-endpoint =
							<&cru1_to_csi21>;
					};
				};
			};
		};

		adc0: adc@11c00000 {
			compatible = "renesas,r9a09g056-adc", "renesas,rzv2n-adc";
			reg = <0 0x11C00000 0 0x400>;
			clocks = <&cpg CPG_MOD 0x108>,
				 <&cpg CPG_MOD 0x107>;
			clock-names = "adclk", "pclk";
			resets =  <&cpg 0xf6>;
			reset-names = "adrst-n";
			power-domains = <&cpg>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0>;
			};
			channel@1 {
				reg = <1>;
			};
			channel@2 {
				reg = <2>;
			};
			channel@3 {
				reg = <3>;
			};
			channel@4 {
				reg = <4>;
			};
			channel@5 {
				reg = <5>;
			};
			channel@6 {
				reg = <6>;
			};
			channel@7 {
				reg = <7>;
			};
		};

		adc1: adc@11c02800 {
			compatible = "renesas,r9a09g056-adc", "renesas,rzv2n-adc";
			reg = <0 0x11c02800 0 0x400>;
			clocks = <&cpg CPG_MOD 0x108>,
				 <&cpg CPG_MOD 0x107>;
			clock-names = "adclk", "pclk";
			resets =  <&cpg 0xf6>;
			reset-names = "adrst-n";
			power-domains = <&cpg>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0>;
			};
			channel@1 {
				reg = <1>;
			};
			channel@2 {
				reg = <2>;
			};
			channel@3 {
				reg = <3>;
			};
			channel@4 {
				reg = <4>;
			};
			channel@5 {
				reg = <5>;
			};
			channel@6 {
				reg = <6>;
			};
			channel@7 {
				reg = <7>;
			};
		};

		adc2: adc@11c02c00 {
			compatible = "renesas,r9a09g056-adc", "renesas,rzv2n-adc";
			reg = <0 0x11c02c00 0 0x400>;
			clocks = <&cpg CPG_MOD 0x108>,
				 <&cpg CPG_MOD 0x107>;
			clock-names = "adclk", "pclk";
			resets =  <&cpg 0xf6>;
			reset-names = "adrst-n";
			power-domains = <&cpg>;
			status = "disabled";
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0>;
			};
			channel@1 {
				reg = <1>;
			};
			channel@2 {
				reg = <2>;
			};
			channel@3 {
				reg = <3>;
			};
			channel@4 {
				reg = <4>;
			};
			channel@5 {
				reg = <5>;
			};
			channel@6 {
				reg = <6>;
			};
			channel@7 {
				reg = <7>;
			};
		};

		tsu0: thermal@11000000 {
			compatible = "renesas,tsu-r9a09g056";
			reg = <0 0x11000000 0 0x1000>;
			clocks = <&cpg CPG_MOD 0x109>;
			resets = <&cpg 0xf7>;
			power-domains = <&cpg>;
			tsu,channel = <0>;
			#thermal-sensor-cells = <1>;
		};

		tsu1: thermal@14002000 {
			compatible = "renesas,tsu-r9a09g056";
			reg = <0 0x14002000 0 0x1000>;
			clocks = <&cpg CPG_MOD 0x10a>;
			resets = <&cpg 0xf8>;
			power-domains = <&cpg>;
			tsu,channel = <1>;
			#thermal-sensor-cells = <1>;
		};
	};

	thermal-zones {
		emergency {
			polling-delay = <1000>;
			on-temperature = <110000>;
			off-temperature = <95000>;
			target_cpus =   <&cpu1 &cpu2 &cpu3>;
			status = "disabled";
		};

		sensor_thermal0: sensor-thermal0 {
			polling-delay-passive = <250>;
			polling-delay = <1000>;
			thermal-sensors = <&tsu0 0>;

			trips {
				sensor0_crit: sensor0-crit {
					temperature = <120000>;
					hysteresis = <1000>;
					type = "critical";
				};

			};
		};

		sensor_thermal1: sensor-thermal1 {
			polling-delay-passive = <250>;
			polling-delay = <1000>;
			thermal-sensors = <&tsu1 0>;

			trips {
				sensor1_crit: sensor1-crit {
					temperature = <120000>;
					hysteresis = <1000>;
					type = "critical";
				};
			};
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts-extended = <&gic GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 12 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "sec-phys", "phys", "virt", "hyp-phys", "hyp-virt";
	};
};
