// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2MA (r9a09g055) Evaluation Kit Board
 *
 * Copyright (C) 2022 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a09g055.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzv2m-pinctrl.h>
#include "r9a09g055_reserved-memory.dtsi"
#include "r9a09g055_drp-ai.dtsi"
#include "r9a09g055_videocodec.dtsi"
#include "r9a09g055_opencva.dtsi"

/ {
	model = "RZ/V2MA Evaluation Kit 2.0";
	compatible = "renesas,rzv2maevk2", "renesas,r9a09g055";

	aliases {
		serial0 = &uart0;
		ethernet0 = &avb;
		mmc0 = &emmc;
		mmc1 = &sdhi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x80000000>;
	};

	memory@180000000 {
		device_type = "memory";
		reg = <0x1 0x80000000 0x0 0x80000000>;
	};

	reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pwc 0 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 0>, <1800000 1>;
	};
};

&avb {
	renesas,no-ether-link;
	phy-handle = <&phy0>;
	phy-mode = "gmii";
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c916",
			     "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&emmc {
	pinctrl-0 = <&emmc_pins>;
	pinctrl-1 = <&emmc_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3v3>;
	vqmmc-supply = <&reg_1v8>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	fixed-emmc-driver-type = <1>;
	max-frequency = <200000000>;
	status = "okay";
};

&extal_clk {
	clock-frequency = <48000000>;
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";
	clock-generator@68 {
		compatible = "idt,9fgv0241";
		reg = <0x68>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";
};

&pinctrl {
	emmc_pins: emmc {
		emmc_data {
			pinmux = <RZV2M_PORT_PINMUX(0, 0, 2)>, /* MMDAT0 */
				 <RZV2M_PORT_PINMUX(0, 1, 2)>, /* MMDAT1 */
				 <RZV2M_PORT_PINMUX(0, 2, 2)>, /* MMDAT2 */
				 <RZV2M_PORT_PINMUX(0, 3, 2)>, /* MMDAT3 */
				 <RZV2M_PORT_PINMUX(0, 4, 2)>, /* MMDAT4 */
				 <RZV2M_PORT_PINMUX(0, 5, 2)>, /* MMDAT5 */
				 <RZV2M_PORT_PINMUX(0, 6, 2)>, /* MMDAT6 */
				 <RZV2M_PORT_PINMUX(0, 7, 2)>; /* MMDAT7 */
			power-source = <1800>;
		};

		emmc_ctrl {
			pinmux = <RZV2M_PORT_PINMUX(0, 10, 2)>, /* MMCMD */
				 <RZV2M_PORT_PINMUX(0, 11, 2)>; /* MMCLK */
			power-source = <1800>;
		};
	};

	sdhi0_pins: sd0 {
		sd0_data {
			pinmux = <RZV2M_PORT_PINMUX(8, 2, 1)>, /* SD0DAT0 */
				 <RZV2M_PORT_PINMUX(8, 3, 1)>, /* SD0DAT1 */
				 <RZV2M_PORT_PINMUX(8, 4, 1)>, /* SD0DAT2 */
				 <RZV2M_PORT_PINMUX(8, 5, 1)>; /* SD0DAT3 */
			power-source = <3300>;
		};

		sd0_ctrl {
			pinmux = <RZV2M_PORT_PINMUX(8, 0, 1)>, /* SD0CMD */
				 <RZV2M_PORT_PINMUX(8, 1, 1)>; /* SD0CLK */
			power-source = <3300>;
		};

		sd0_cd {
			pinmux = <RZV2M_PORT_PINMUX(8, 7, 1)>; /* SD0CD */
			power-source = <3300>;
		};
	};

	sdhi0_pins_uhs: sd0-uhs {
		sd0_uhs_data {
			pinmux = <RZV2M_PORT_PINMUX(8, 2, 1)>, /* SD0DAT0 */
				 <RZV2M_PORT_PINMUX(8, 3, 1)>, /* SD0DAT1 */
				 <RZV2M_PORT_PINMUX(8, 4, 1)>, /* SD0DAT2 */
				 <RZV2M_PORT_PINMUX(8, 5, 1)>; /* SD0DAT3 */
			power-source = <1800>;
		};

		sd0_uhs_ctrl {
			pinmux = <RZV2M_PORT_PINMUX(8, 0, 1)>, /* SD0CMD */
				 <RZV2M_PORT_PINMUX(8, 1, 1)>; /* SD0CLK */
			power-source = <1800>;
		};

		sd0_uhs_cd {
			pinmux = <RZV2M_PORT_PINMUX(8, 7, 1)>; /* SD0CD */
			power-source = <1800>;
		};
	};

	uart0_pins: uart0 {
		pinmux = <RZV2M_PORT_PINMUX(3, 0, 2)>, /* UATX0 */
			 <RZV2M_PORT_PINMUX(3, 1, 2)>, /* UARX0 */
			 <RZV2M_PORT_PINMUX(3, 2, 2)>, /* UACTS0N */
			 <RZV2M_PORT_PINMUX(3, 3, 2)>; /* UARTS0N */
	};

        uart1_pins: uart1 {
                pinmux = <RZV2M_PORT_PINMUX(3, 4, 2)>, /* UATX1 */
                         <RZV2M_PORT_PINMUX(3, 5, 2)>, /* UARX1 */
                         <RZV2M_PORT_PINMUX(3, 6, 2)>, /* UACTS1N */
                         <RZV2M_PORT_PINMUX(3, 7, 2)>; /* UARTS1N */
        };

	i2c0_pins: i2c0 {
		pinmux = <RZV2M_PORT_PINMUX(5, 0, 2)>, /* SDA */
			 <RZV2M_PORT_PINMUX(5, 1, 2)>; /* SCL */
	};

	i2c1_pins: i2c1 {
		pinmux = <RZV2M_PORT_PINMUX(5, 2, 2)>, /* SDA */
			 <RZV2M_PORT_PINMUX(5, 3, 2)>; /* SCL */
	};

        pwm0_pins: pwm0 {
                pinmux = <RZV2M_PORT_PINMUX(1, 0, 1)>;  /* PM0 */
        };

        pwm1_pins: pwm1 {
                pinmux = <RZV2M_PORT_PINMUX(1, 1, 1)>;  /* PM1 */
        };

        pwm2_pins: pwm2 {
                pinmux = <RZV2M_PORT_PINMUX(1, 2, 1)>;  /* PM2 */
        };

        pwm3_pins: pwm3 {
                pinmux = <RZV2M_PORT_PINMUX(1, 3, 1)>;  /* PM3 */
        };

        pwm4_pins: pwm4 {
                pinmux = <RZV2M_PORT_PINMUX(1, 4, 1)>;  /* PM4 */
        };

        pwm5_pins: pwm5 {
                pinmux = <RZV2M_PORT_PINMUX(1, 5, 1)>;  /* PM5 */
        };

        pwm6_pins: pwm6 {
                pinmux = <RZV2M_PORT_PINMUX(1, 6, 1)>;  /* PM6 */
        };

        pwm7_pins: pwm7 {
                pinmux = <RZV2M_PORT_PINMUX(1, 7, 1)>;  /* PM7 */
        };

	pwm8_pins: pwm8 {
		pinmux = <RZV2M_PORT_PINMUX(1, 8, 1)>;  /* PM8 */
	};

	pwm9_pins: pwm9 {
		pinmux = <RZV2M_PORT_PINMUX(1, 9, 1)>;  /* PM9 */
	};

	pwm10_pins: pwm10 {
		pinmux = <RZV2M_PORT_PINMUX(1, 10, 1)>; /* PM10 */
	};

	pwm11_pins: pwm11 {
		pinmux = <RZV2M_PORT_PINMUX(1, 11, 1)>; /* PM11 */
	};

	pwm12_pins: pwm12 {
		pinmux = <RZV2M_PORT_PINMUX(1, 12, 1)>; /* PM12 */
	};

	pwm13_pins: pwm13 {
		pinmux = <RZV2M_PORT_PINMUX(1, 13, 1)>; /* PM13 */
	};

	pwm14_pins: pwm14 {
		pinmux = <RZV2M_PORT_PINMUX(1, 14, 1)>; /* PM14 */
	};

        pwm15_pins: pwm15 {
                pinmux = <RZV2M_PORT_PINMUX(1, 15, 1)>;  /* PM15 */
        };

	csi2_pins: csi2 {
		pinmux = <RZV2M_PORT_PINMUX(3, 8,  1)>, /* CSTXD2  */
			 <RZV2M_PORT_PINMUX(3, 9,  1)>, /* CSRXD2  */
			 <RZV2M_PORT_PINMUX(3, 10, 1)>, /* CSSCLK2 */
			 <RZV2M_PORT_PINMUX(3, 11, 1)>; /* CSCS2   */
	};

	csi3_pins: csi3 {
		pinmux = <RZV2M_PORT_PINMUX(3, 12, 1)>, /* CSTXD3  */
			 <RZV2M_PORT_PINMUX(3, 13, 1)>, /* CSRXD3  */
			 <RZV2M_PORT_PINMUX(3, 14, 1)>, /* CSSCLK3 */
			 <RZV2M_PORT_PINMUX(3, 15, 1)>; /* CSCS3   */
	};

	csi4_pins: csi4 {
		pinmux = <RZV2M_PORT_PINMUX(4, 0, 1)>, /* CSTXD4  */
			 <RZV2M_PORT_PINMUX(4, 1, 1)>, /* CSRXD4  */
			 <RZV2M_PORT_PINMUX(4, 2, 1)>, /* CSSCLK4 */
			 <RZV2M_PORT_PINMUX(4, 3, 1)>; /* CSCS4   */
	};

	csi5_pins: csi5 {
		pinmux = <RZV2M_PORT_PINMUX(4, 4, 1)>, /* CSTXD5  */
			 <RZV2M_PORT_PINMUX(4, 5, 1)>, /* CSRXD5  */
			 <RZV2M_PORT_PINMUX(4, 6, 1)>, /* CSSCLK5 */
			 <RZV2M_PORT_PINMUX(4, 7, 1)>; /* CSCS5   */
	};
};

&pwm0 {
        pinctrl-0 = <&pwm0_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm1 {
        pinctrl-0 = <&pwm1_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm2 {
        pinctrl-0 = <&pwm2_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm3 {
        pinctrl-0 = <&pwm3_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm4 {
        pinctrl-0 = <&pwm4_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm5 {
        pinctrl-0 = <&pwm5_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm6 {
        pinctrl-0 = <&pwm6_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm7 {
        pinctrl-0 = <&pwm7_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwm8 {
	pinctrl-0 = <&pwm8_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm9 {
	pinctrl-0 = <&pwm9_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm10 {
	pinctrl-0 = <&pwm10_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm11 {
	pinctrl-0 = <&pwm11_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm12 {
	pinctrl-0 = <&pwm12_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm13 {
	pinctrl-0 = <&pwm13_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm14 {
	pinctrl-0 = <&pwm14_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm15 {
        pinctrl-0 = <&pwm15_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&pwc {
	renesas,rzv2ma-pwc-power;
	status = "okay";
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-1 = <&sdhi0_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3v3>;
	vqmmc-supply = <&vccq_sdhi0>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&uart1 {
        pinctrl-0 = <&uart1_pins>;
        pinctrl-names = "default";

        uart-has-rtscts;
        status = "okay";
};

&csi2 {
	pinctrl-0 = <&csi2_pins>;
	pinctrl-names = "default";

	status = "okay";
	slavedev2: spi@0 {
		compatible = "rzv2ma,slavedev";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-cpha;
		spi-cpol;
	};
};

&csi3 {
	pinctrl-0 = <&csi3_pins>;
	pinctrl-names = "default";

	status = "okay";
	slavedev3: spi@0 {
		compatible = "rzv2ma,slavedev";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-cpha;
		spi-cpol;
	};
};

&csi4 {
	pinctrl-0 = <&csi4_pins>;
	pinctrl-names = "default";

	status = "okay";
	slavedev4: spi@0 {
		compatible = "rzv2ma,slavedev";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-cpha;
		spi-cpol;
	};
};

&csi5 {
	pinctrl-0 = <&csi5_pins>;
	pinctrl-names = "default";

	status = "okay";
	slavedev5: spi@0 {
		compatible = "rzv2ma,slavedev";
		reg = <0>;
		spi-max-frequency = <24000000>;
		spi-cpha;
		spi-cpol;
	};
};

&usb3drd {
        status = "okay";
};

&usb3host {
        status = "okay";
};

&usb3peri {
        companion = <&usb3host>;
        status = "okay";
        usb-role-switch;
};

&wdt0 {
	status = "okay";
};

&wdt1 {
        status = "okay";
};

&pcie {
    status = "okay";
};

&tim0 {
    status = "okay";
};

&tim1 {
    status = "okay";
};

&tim2 {
    status = "okay";
};

&tim3 {
    status = "okay";
};

&tim4 {
    status = "okay";
};

&tim5 {
    status = "okay";
};

&tim6 {
    status = "okay";
};

&tim7 {
    status = "okay";
};

&tim8 {
    status = "okay";
};

&tim9 {
    status = "okay";
};

&tim10 {
    status = "okay";
};

&tim11 {
    status = "okay";
};

&tim12 {
    status = "okay";
};

&tim13 {
    status = "okay";
};

&tim14 {
    status = "okay";
};

&tim15 {
    status = "okay";
};

&tim16 {
    status = "okay";
};

&tim17 {
    status = "okay";
};

&tim18 {
    status = "okay";
};

&tim19 {
    status = "okay";
};

&tim20 {
    status = "okay";
};

&tim21 {
    status = "okay";
};

&tim22 {
    status = "okay";
};

&tim23 {
    status = "okay";
};

&tim24 {
    status = "okay";
};

&tim25 {
    status = "okay";
};

&tim26 {
    status = "okay";
};

&tim27 {
    status = "okay";
};

&tim28 {
    status = "okay";
};

&tim29 {
    status = "okay";
};

&tim30 {
    status = "okay";
};

&tim31 {
    status = "okay";
};
