// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3S R9A08G045S33 SoC specific part
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;

#include "r9a08g045.dtsi"

/ {
	compatible = "renesas,r9a08g045", "renesas,r9a08g045s33";

	soc: soc {
		pcie0: pcie@11e40000 {
			compatible = "renesas,rzg3s-pcie";
			device_type = "pci";
			reg = <0 0x11e40000 0 0x10000>;
			#address-cells = <3>;
			#size-cells = <2>;
			bus-range = <0x0 0xff>;
			ranges = <0x03000000 0x0 0x30000000 0x0 0x30000000 0x0 0x08000000>;
			dma-ranges = <0x42000000 0 0x40000000 0 0x40000000 0 0x40000000>;
			clocks = <&cpg CPG_MOD R9A08G045_PCI_ACLK>,
				 <&cpg CPG_MOD R9A08G045_PCI_CLKL1PM>;
			resets = <&cpg R9A08G045_PCI_ARESETN>,
				 <&cpg R9A08G045_PCI_RST_B>,
				 <&cpg R9A08G045_PCI_RST_GP_B>,
				 <&cpg R9A08G045_PCI_RST_PS_B>,
				 <&cpg R9A08G045_PCI_RST_RSM_B>,
				 <&cpg R9A08G045_PCI_RST_CFG_B>,
				 <&cpg R9A08G045_PCI_RST_LOAD_B>;
			linux,pci-domain = <0x0>;
			pcie,channel = <0>;
			interrupts = <GIC_SPI 404 IRQ_TYPE_LEVEL_HIGH>;
			#interrupt-cells = <1>;
			interrupt-map-mask = <0 0 0 0>;
			interrupt-map = <0 0 0 0 &gic GIC_SPI 404 IRQ_TYPE_LEVEL_HIGH>;
			power-domains = <&cpg>;
		};
	};
};
