// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2N SolidRun HummingBoard IIoT
 *
 * Copyright (C) 2025 SolidRun Ltd.
 */

/dts-v1/;

#include "rzv2n-sr-som.dtsi"
#include "rzv2n-hummingboard-iiot-common.dtsi"

/ {
	model = "Solidrun RZ/V2N HummingBoard IIoT";
	compatible = "renesas,rzv2n-sr-som", "renesas,r9a09g056n44", "renesas,r9a09g056";
};


&{/} {
	dsi_backlight: dsi-backlight {
		compatible = "gpio-backlight";
		gpios = <&gpio_dsi_expander 3 GPIO_ACTIVE_LOW>;
	};
};

&i2c_dsi {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen@41 {
		reg = <0x41>;
		compatible = "ilitek,ili2130";
		reset-gpios = <&gpio_dsi_expander 6 GPIO_ACTIVE_LOW>;
		interrupts-extended = <&tca6416_u21 13 IRQ_TYPE_EDGE_FALLING>;
		vcc-lcd-supply = <&reg_dsi_panel>;
	};
};

&du {
	status = "okay";
};

&dsi0 {
	#address-cells = <1>;
    #size-cells = <0>;
	status = "okay";
	panel@0 {
		compatible = "ronbo,rb070d30";
		reg = <0>;
		vcc-lcd-supply = <&reg_dsi_panel>;
		power-gpios = <&gpio_dsi_expander 2 GPIO_ACTIVE_HIGH>;
		/* reset is active-low but driver inverts it internally */
		reset-gpios = <&gpio_dsi_expander 1 GPIO_ACTIVE_HIGH>;
		updn-gpios = <&gpio_dsi_expander 5 GPIO_ACTIVE_HIGH>;
		shlr-gpios = <&gpio_dsi_expander 4 GPIO_ACTIVE_LOW>;
		backlight = <&dsi_backlight>;

		port {

			/* Endpoint ON THE PANEL side */
			dsi_in_panel: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};

	/* Patch the existing port@1 / endpoint on the DSI side */
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@1 {
			reg = <1>;

			dsi0_out: endpoint {
				remote-endpoint = <&dsi_in_panel>;
				data-lanes = <1 2 3 4>;  /* or whatever your HW uses */
			};
		};
	};
};


&{/} {
    sensor_clk: sensor_clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
    };
};

&cru1 {
	status = "okay";
};

&csi21 {
	status = "okay";
	ports {
		port {
			csi21_in: endpoint {
				remote-endpoint = <&cam_endpoint>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&i2c_csi {
	#address-cells = <1>;
	#size-cells = <0>;

	cam_node: imx678@1a {
		compatible = "sony,imx334", "sony,imx678";
		reg = <0x1a>;
		status = "okay";

		rotation = <0>;
		orientation = <0>;

		clocks = <&sensor_clk>;
		clock-names = "inclk";
		clock-frequency = <24000000>;

		xmaster-gpios = <&gpio_dsi_expander 7 GPIO_ACTIVE_HIGH>; /* CAM_TRIG U48_IO7 */
		reset-gpios = <&gpio_dsi_expander 0 GPIO_ACTIVE_HIGH>;

		port {
			cam_endpoint: endpoint {
				remote-endpoint = <&csi21_in>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <891000000 1440000000 1782000000>;
			};
		};
	};
};