/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target = <&sdhi0>;
        __overlay__ {
            	mmc-hs200-1_8v;
            	non-removable;
            	fixed-emmc-driver-type = <1>;
        };
    };

    fragment@1 {
        target = <&sdhi0_dev_sel_gpio>;
        __overlay__ {
            output-high;
        };
    };
};
