// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 */

#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		rtc0 = &carrier_rtc;
		rtc1 = &pmic;
                serial3 = &scif3;
		gpio1 = &tca6408_u48;
		gpio2 = &tca6408_u37;
		gpio3 = &tca6416_u20;
		gpio4 = &tca6416_u21;
		i2c3 = &i2c_exp;
		i2c4 = &i2c_csi;
		i2c5 = &i2c_dsi;
		i2c6 = &i2c_lvds;
	};

	v_1_2: regulator-1-2 {
		compatible = "regulator-fixed";
		regulator-name = "1v2";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	v_3_3: regulator-3-3 {
		compatible = "regulator-fixed";
		regulator-name = "3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_dsi_panel: regulator-dsi-panel {
		compatible = "regulator-fixed";
		regulator-name = "dsi-panel";
		regulator-min-microvolt = <11200000>;
		regulator-max-microvolt = <11200000>;
		gpios = <&tca6416_u20 15 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	/* power for M.2 B-Key connector (J6) */
	regulator-m2-b {
		compatible = "regulator-fixed";
		regulator-name = "m2-b";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&tca6416_u20 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	/* power for M.2 M-Key connector (J4) */
	regulator-m2-m {
		compatible = "regulator-fixed";
		regulator-name = "m2-m";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&tca6416_u20 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	vmmc: regulator-mmc {
		compatible = "regulator-fixed";
		regulator-name = "vmmc";
		vin-supply = <&v_3_3>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pinctrl RZG2L_GPIO(4, 1) GPIO_ACTIVE_LOW>;
		enable-active-high;
		startup-delay-us = <250>;
	};

	/* power for USB-A J5003 */
	vbus1: regulator-vbus-1 {
		compatible = "regulator-fixed";
		regulator-name = "vbus1";
		gpio = <&tca6416_u20 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	/* power for USB-A J27 behind USB Hub Port 3 */
	regulator-vbus-2 {
		compatible = "regulator-fixed";
		regulator-name = "vbus2";
		gpio = <&tca6416_u20 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* power for USB-A J27 behind USB Hub Port 4 */
	regulator-vbus-3 {
		compatible = "regulator-fixed";
		regulator-name = "vbus3";
		gpio = <&tca6416_u20 13 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	rfkill-m2-b-gnss {
		compatible = "rfkill-gpio";
		label = "m2-b gnss";
		radio-type = "gps";
		/* rfkill-gpio inverts internally */
		shutdown-gpios = <&tca6416_u20 10 GPIO_ACTIVE_HIGH>;
	};

	rfkill-m2-b-wwan {
		compatible = "rfkill-gpio";
		label = "m2-b radio";
		radio-type = "wwan";
		/* rfkill-gpio inverts internally */
		shutdown-gpios = <&tca6416_u20 9 GPIO_ACTIVE_HIGH>;
	};

	can1_can2_b2b_mux: mux-controller-0 {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		/*
		 * Mux switches both can1 and can2 tx/rx between
		 * expansion connector (J22) and on-board transceivers
		 * using one GPIO: 0 = on-board, 1 connector.
		 */
		mux-gpios = <&tca6416_u20 3 GPIO_ACTIVE_HIGH>;
		/* default on-board */
		idle-state = <0>;
	};

	mux-controller-1 {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		/*
		 * Mux switches can bus between different SoM board-to-board
		 * connector pins which is used to support different SoMs.
		 * i.MX8M Plus uses J7-12/16 and J9-54/56 for 2x flexcan.
		 */
		mux-gpios = <&tca6416_u20 4 GPIO_ACTIVE_HIGH>;
		idle-state = <1>;
	};

	spi_mux: mux-controller-2 {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		/*
		 * Mux switches spi bus between on-board tpm
		 * and expansion connector (J22).
		 */
		mux-gpios = <&tca6416_u21 0 GPIO_ACTIVE_HIGH>;
		/* default on-board */
		idle-state = <0>;
	};

	scif1_scif3_b2b_mux: mux-controller-3 {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		/*
		 * Mux switches both scif1 and scif3 tx/rx between expansion
		 * connector (J22) and on-board rs232/rs485 transceivers
		 * using one GPIO: 0 = on-board, 1 connector.
		 */
		mux-gpios = <&tca6416_u20 0 GPIO_ACTIVE_HIGH>;
		/* default on-board */
		idle-state = <0>;
	};

	scif1_rs_232_485_mux: mux-controller-4 {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		/*
		 * Mux switches scif1 tx/rx between rs232 and rs485
		 * transceivers. using one GPIO: 0 = rs232; 1 = rs485.
		 */
		mux-gpios = <&tca6416_u20 1 GPIO_ACTIVE_HIGH>;
		/* default rs232 */
		idle-state = <0>;
	};

	scif3_rs_232_485_mux: mux-controller-5 {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		/*
		 * Mux switches scif3 tx/rx between rs232 and rs485
		 * transceivers. using one GPIO: 0 = rs232; 1 = rs485.
		 */
		mux-gpios = <&tca6416_u20 2 GPIO_ACTIVE_HIGH>;
		/* default rs232 */
		idle-state = <0>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		wakeup-event {
			label = "m2-m-wakeup";
			interrupts-extended = <&tca6416_u21 11 IRQ_TYPE_EDGE_FALLING>;
			linux,code = <KEY_WAKEUP>;
			wakeup-source;
		};
	};
};

&ehci1 {
	#address-cells = <1>;
	#size-cells = <0>;

	hub_2_0: hub@1 {
		compatible = "usb4b4,6502", "usb4b4,6506";
		reg = <1>;
		peer-hub = <&hub_3_0>;
		reset-gpios = <&tca6416_u20 11 GPIO_ACTIVE_LOW>;
		vdd-supply = <&v_1_2>;
		vdd2-supply = <&v_3_3>;
	};

	/* this device is not visible because host supports 2.0 only */
	hub_3_0: hub@2 {
		compatible = "usb4b4,6500", "usb4b4,6504";
		reg = <2>;
		peer-hub = <&hub_2_0>;
		reset-gpios = <&tca6416_u20 11 GPIO_ACTIVE_LOW>;
		vdd-supply = <&v_1_2>;
		vdd2-supply = <&v_3_3>;
	};
};

&i2c0 {
	/* highest i2c clock supported by all peripherals is 400kHz */

	tca6416_u20: gpio@20 {
		/*
		 * This is a TI TCAL6416 using same programming model as
		 * NXP PCAL6416, not to be confused with TI TCA6416.
		 */
		compatible = "nxp,pcal6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "TCA_INT/EXT_UART", "TCA_UARTA_232/485",
				  "TCA_UARTB_232/485", "TCA_INT/EXT_CAN",
				  "TCA_NXP/REN", "TCA_M.2B_3V3_EN",
				  "TCA_M.2M_3V3_EN", "TCA_M.2M_RESET#",
				  "TCA_M.2B_RESET#", "TCA_M.2B_W_DIS#",
				  "TCA_M.2B_GPS_EN#", "TCA_USB-HUB_RST#",
				  "TCA_USB_HUB3_PWR_EN", "TCA_USB_HUB4_PWR_EN",
				  "TCA_USB1_PWR_EN", "TCA_VIDEO_PWR_EN";

		m2-m-reset-hog {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_LOW>;
			/*
			 * M.2 Key-M connector only supports PCI,
			 * but RZ/G2L(C) has no pci controller.
			 * Keep any card in reset.
			 */
			output-high;
			line-name = "m2-m-reset";
		};

		m2-b-reset-hog {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "m2-b-reset";
		};
	};

	tca6416_u21: gpio@21 {
		/*
		 * This is a TI TCAL6416 using same programming model as
		 * NXP PCAL6416, not to be confused with TI TCA6416.
		 */
		compatible = "nxp,pcal6416";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupts-extended = <&pinctrl RZG2L_GPIO(4, 0) IRQ_TYPE_LEVEL_LOW>;
		gpio-line-names = "TCA_SPI_TPM/EXT", "TCA_TPM_RST#",
				  "TCA_I2C_RST", "TCA_RS232_SHTD#",
				  "TCA_LCD_I2C_RST", "TCA_DIG_OUT1",
				  "TCA_bDIG_IN1", "TCA_SENS_INT",
				  "TCA_ALERT#", "TCA_TPM_PIRQ#",
				  "TCA_RTC_INT", "TCA_M.2M_WAKW_ON_LAN",
				  "TCA_M.2M_CLKREQ#", "TCA_LVDS_INT#",
				  "", "TCA_POE_AT";

		rs232_shutdown: rs232-shutdown-hog {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_LOW>;
			output-low;
			line-name = "rs232-shutdown";
		};

		lcd-i2c-reset-hog {
			/*
			 * reset shared between U37 and U48, to be
			 * supported once gpio-pca953x switches to
			 * reset framework.
			 */
			gpio-hog;
			gpios = <4 (GPIO_ACTIVE_LOW|GPIO_PULL_UP|GPIO_OPEN_DRAIN)>;
			output-low;
			line-name = "lcd-i2c-reset";
		};

		lvds-irq-hog {
			gpio-hog;
			gpios = <13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP | GPIO_OPEN_DRAIN)>;
			input;
			line-name = "lvds-irq";
		};

		m2-m-clkreq-hog {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_LOW>;
			input;
			line-name = "m2-m-clkreq";
		};

		sensor-irq-hog {
			gpio-hog;
			gpios = <7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP | GPIO_OPEN_DRAIN)>;
			input;
			line-name = "sensor-irq";
		};

		tpm-irq-hog {
			gpio-hog;
			gpios = <9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP | GPIO_OPEN_DRAIN)>;
			input;
			line-name = "tpm-irq";
		};
	};

	led-controller@30 {
		compatible = "ti,lp5562";
		reg = <0x30>;
		/* use internal clock, could use external generated by rtc */
		clock-mode = /bits/ 8 <1>;
		#address-cells = <1>;
		#size-cells = <0>;

		multi-led@0 {
			reg = <0x0>;
			label = "D7";
			color = <LED_COLOR_ID_RGB>;
			#address-cells = <1>;
			#size-cells = <0>;

			led@0 {
				reg = <0x0>;
				color = <LED_COLOR_ID_RED>;
				led-cur = /bits/ 8 <0x32>;
				max-cur = /bits/ 8 <0x64>;
				chan-name = "D7";
			};

			led@1 {
				reg = <0x1>;
				color = <LED_COLOR_ID_GREEN>;
				led-cur = /bits/ 8 <0x19>;
				max-cur = /bits/ 8 <0x32>;
				chan-name = "D7";
			};

			led@2 {
				reg = <0x2>;
				color = <LED_COLOR_ID_BLUE>;
				led-cur = /bits/ 8 <0x19>;
				max-cur = /bits/ 8 <0x32>;
				chan-name = "D7";
			};
		};

		led@3 {
			reg = <3>;
			chan-name = "D8";
			label = "D8";
			color = <LED_COLOR_ID_GREEN>;
			led-cur = /bits/ 8 <0x19>;
			max-cur = /bits/ 8 <0x64>;
		};
	};

	light-sensor@44 {
		compatible = "isil,isl29023";
		reg = <0x44>;
		/* IRQ shared between accelerometer, light-sensor and Tamper input (J5007) */
		interrupts-extended = <&tca6416_u21 7 IRQ_TYPE_EDGE_FALLING>;
	};

	accelerometer@53 {
		compatible = "adi,adxl345";
		reg = <0x53>;
		/* IRQ shared between accelerometer, light-sensor and Tamper input (J5007) */
		interrupt-names = "INT1";
		interrupts-extended = <&tca6416_u21 7 IRQ_TYPE_EDGE_FALLING>;
	};

	carrier_eeprom: eeprom@57{
		compatible = "atmel,24c02";
		reg = <0x57>;
		pagesize = <8>;
	};

	carrier_rtc: rtc@69 {
		compatible = "abracon,ab1805";
		reg = <0x69>;
		abracon,tc-diode = "schottky";
		abracon,tc-resistor = <3>;
		interrupts-extended = <&tca6416_u21 10 IRQ_TYPE_EDGE_FALLING>;
	};
};

&i2c1 {
	/* highest i2c clock supported by all peripherals is 400kHz */

	i2c-mux@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		/*
		 * This reset is open drain,
		 * but reset core does not support GPIO_OPEN_DRAIN flag.
		 */
		reset-gpios = <&tca6416_u21 2 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		/* channel 0 routed to expansion connector (J22) */
		i2c_exp: i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		/* channel 1 routed to mipi-csi connector (J23) */
		i2c_csi: i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		/* channel 2 routed to mipi-dsi connector (J25) */
		i2c_dsi: i2c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;

			tca6408_u48: gpio@21 {
				compatible = "ti,tca6408";
				reg = <0x21>;
				/*
				 * reset shared between U37 and U48, to be
				 * supported once gpio-pca953x switches to
				 * reset framework.
				 *
				 * reset-gpios = <&tca6416_u21 4 (GPIO_ACTIVE_LOW|GPIO_PULL_UP|GPIO_OPEN_DRAIN)>;
				 */
				gpio-controller;
				#gpio-cells = <2>;
				gpio-line-names = "CAM_RST#", "DSI_RESET",
						  "DSI_STBYB", "DSI_PWM_BL",
						  "DSI_L/R", "DSI_U/D",
						  "DSI_CTP_/RST", "CAM_TRIG";
			};
		};

		/* channel 2 routed to lvds connector (J24) */
		i2c_lvds: i2c@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;

			tca6408_u37: gpio@20 {
				compatible = "ti,tca6408";
				reg = <0x20>;
				/*
				 * reset shared between U37 and U48, to be
				 * supported once gpio-pca953x switches to
				 * reset framework.
				 *
				 * reset-gpios = <&tca6416_u21 4 (GPIO_ACTIVE_LOW|GPIO_PULL_UP|GPIO_OPEN_DRAIN)>;
				 */
				gpio-controller;
				#gpio-cells = <2>;
				gpio-line-names = "SELB", "LVDS_RESET",
						  "LVDS_STBYB", "LVDS_PWM_BL",
						  "LVDS_L/R", "LVDS_U/D",
						  "LVDS_CTP_/RST", "";
			};
		};
	};
};

&phy0 {
	leds {
		#address-cells = <1>;
		#size-cells = <0>;

		/* LED_0 pin */
		led@0 {
			reg = <0>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_LAN;
			default-state = "keep";
		};
	};
};

&pinctrl {
	/* UARTA */
	scif1_pins: scif1 {
		pinmux = <RZG2L_PORT_PINMUX(40, 1, 1)>, /* SCIF1_RXD */
			 <RZG2L_PORT_PINMUX(40, 0, 1)>; /* SCIF1_TXD */
	};

	/* UARTA_RTS */
	scif1_rts_pins: scif1-rts {
		pinmux = <RZG2L_PORT_PINMUX(41, 1, 0)>; /* P41_1 */
	};

	/* UARTB */
	scif3_pins: scif3 {
		pinmux = <RZG2L_PORT_PINMUX(0, 1, 5)>, /* SCIF3_RXD */
			 <RZG2L_PORT_PINMUX(0, 0, 5)>; /* SCIF3_TXD */
	};

	/* UARTB_RTS */
	scif3_rts_pins: scif3-rts {
		pinmux = <RZG2L_PORT_PINMUX(41, 0, 0)>; /* P41_0 */
	};
};

&scif1 {
	pinctrl-names = "default";
	pinctrl-0 = <&scif1_pins>;
	status = "okay";
};

&scif3 {
	pinctrl-names = "default";
	pinctrl-0 = <&scif3_pins>;
	status = "okay";
};

&spi1 {
	num-cs = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	/* native cs does not support cs persistence required for tpm */
	cs-gpios = <&pinctrl RZG2L_GPIO(44, 3) GPIO_ACTIVE_LOW>;
	status = "okay";

	spi1_muxed: spi@0 {
		compatible = "spi-mux";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <0>;
		/* mux bandwidth is 2GHz, soc max. spi clock is P0/2 = 50MHz */
		spi-max-frequency = <50000000>;
		mux-controls = <&spi_mux>;

		tpm@0 {
			compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
			reg = <0>;
			spi-max-frequency = <43000000>;
			reset-gpios = <&tca6416_u21 1 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
			interrupts-extended = <&tca6416_u21 9 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&usb2_phy0 {
	vbus-supply = <&vbus1>;
	dr_mode = "host";
};

&usb2_phy1 {
	dr_mode = "host";
};
