// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2LC Solidrun SOM
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

/*
 * DIP-Switch S3 setting on SoM
 * 1 : High; 0: Low
 * S3[1] : SW_SD0_DEV_SEL	(1: eMMC; 0: uSD)
 */

#define SW_SD0_DEV_SEL	1

/dts-v1/;
#include "rzg2lc-sr-som.dtsi"
#include "rz-hummingboard-common.dtsi"

/ {
  model = "Solidrun RZ/G2LC HummingBoard-Ripple";
  compatible = "renesas,rzg2lc-sr-som", "renesas,r9a07g044c2", "renesas,r9a07g044";
};

&adv7535 {
	pd-gpios = <&pinctrl RZG2L_GPIO(40, 2) GPIO_ACTIVE_LOW>; // ADV_PD / DSI_EN J9-34 / P40_2
};

&pinctrl {
	/delete-node/ gpio-lte_reset;

	gpio-lte_on {
		gpio-hog;
		gpios = <RZG2L_GPIO(19, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "gpio_lte_on";
	};
};

&reg_sdhi0_vmmc {
	gpio = <&pinctrl RZG2L_GPIO(18, 1) GPIO_ACTIVE_LOW>;
};

&scif1 {
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";

	//uart-has-rtscts;
	status = "okay";
};

&sdhi0 {
	cd-gpios = <&pinctrl RZG2L_GPIO(18, 0) GPIO_ACTIVE_LOW>;
};

&usb0_vbus_otg {
	gpio = <&pinctrl RZG2L_GPIO(4, 0) GPIO_ACTIVE_HIGH>;
	gpio-open-drain;
};

&usb1_vbus {
	gpio = <&pinctrl RZG2L_GPIO(5, 0) GPIO_ACTIVE_HIGH>;
	gpio-open-drain;
};

