// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L Solidrun SOM
 *
 * Copyright (C) 2023 SolidRun Ltd.
 */

/dts-v1/;

/* RZ/G2L R9A07G044L2 SoC */
#include "r9a07g044l2.dtsi"
#include "rz_2l-sr-som-common.dtsi"

/ {
	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x38000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		multimedia_cma: linux,multimedia {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x10000000>;
		};

		mmp_reserved: linux,mmp {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x8000000>;
		};
	};
};

