// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L Solidrun HummingBoard Pro
 *
 * Copyright (C) 2023 SolidRun Ltd.
 */

/*
 * DIP-Switch S3 setting on SoM
 * 1 : High; 0: Low
 * S3[1] : SW_SD0_DEV_SEL	(1: eMMC; 0: uSD)
 */

#define SW_SD0_DEV_SEL	1

/dts-v1/;
#include "rzg2l-sr-som.dtsi"
#include "rz-hummingboard-common.dtsi"

/ {
	model = "Solidrun RZ/G2L HummingBoard-Pro";
	compatible = "renesas,rzg2l-sr-som", "renesas,r9a07g044l2", "renesas,r9a07g044";
};

&eth1 {
        status = "okay";
};
