// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Copyright 2025 Josua Mayer <josua@solid-run.com>
 */

#include <dt-bindings/leds/common.h>

/ {
	aliases {
		rtc0 = &carrier_rtc;
		rtc1 = &pmic;
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "D30";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pinctrl RZG2L_GPIO(0, 1) GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-1 {
			label = "D31";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pinctrl RZG2L_GPIO(47, 2) GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-2 {
			label = "D32";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pinctrl RZG2L_GPIO(47, 1) GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-3 {
			label = "D33";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pinctrl RZG2L_GPIO(48, 2) GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-4 {
			label = "D34";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pinctrl RZG2L_GPIO(7, 2) GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	rfkill-mpcie-wifi {
		/*
		 * The mpcie connector only has USB,
		 * therefore this rfkill is for cellular radios only.
		 */
		compatible = "rfkill-gpio";
		label = "mpcie radio";
		radio-type = "wwan";
		/* rfkill-gpio inverts internally */
		shutdown-gpios = <&pinctrl RZG2L_GPIO(14, 1) GPIO_ACTIVE_HIGH>;
	};

	vmmc: regulator-mmc {
		compatible = "regulator-fixed";
		regulator-name = "vmmc";
		vin-supply = <&reg_pmic_buck4>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pinctrl RZG2L_GPIO(4, 1) GPIO_ACTIVE_LOW>;
		startup-delay-us = <250>;
	};

	v_1_2: regulator-1-2 {
		compatible = "regulator-fixed";
		regulator-name = "1v2";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&reg_pmic_buck4>;
		regulator-always-on;
	};

	vmpcie: regulator-mpcie-3-3 {
		/* supplies mpcie and m2 connectors */
		compatible = "regulator-fixed";
		regulator-name = "vmpcie";
		gpio = <&pinctrl RZG2L_GPIO(17, 0) GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
	};

	pwr-mpcie {
		compatible = "regulator-output";
		vout-supply = <&vmpcie>;
	};
};

&ehci1 {
	#address-cells = <1>;
	#size-cells = <0>;

	hub_2_0: hub@1 {
		compatible = "usb4b4,6502", "usb4b4,6506";
		reg = <1>;
		peer-hub = <&hub_3_0>;
		reset-gpios = <&pinctrl RZG2L_GPIO(39, 1) GPIO_ACTIVE_LOW>;
		vdd-supply = <&v_1_2>;
		vdd2-supply = <&reg_pmic_buck4>;
	};

	/* this device is not visible because host supports 2.0 only */
	hub_3_0: hub@2 {
		compatible = "usb4b4,6500", "usb4b4,6504";
		reg = <2>;
		peer-hub = <&hub_2_0>;
		reset-gpios = <&pinctrl RZG2L_GPIO(39, 1) GPIO_ACTIVE_LOW>;
		vdd-supply = <&v_1_2>;
		vdd2-supply = <&reg_pmic_buck4>;
	};
};

&gpt3 {
	pinctrl-0 = <&mikro_pwm_pins>;
	pinctrl-names = "default";
	channel = "channel_A";
	status = "okay";
};

&i2c0 {
	carrier_eeprom: eeprom@57{
		compatible = "st,24c02", "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};

	carrier_rtc: rtc@69 {
		compatible = "abracon,ab1805";
		reg = <0x69>;
		abracon,tc-diode = "schottky";
		abracon,tc-resistor = <3>;
	};
};

&pinctrl {
	mpcie-reset-hog {
		gpio-hog;
		gpios = <RZG2L_GPIO(42, 2) GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "mpcie-reset";
	};

	mikro_int_pins: pinctrl-mikro-int-grp {
		pinmux = <RZG2L_PORT_PINMUX(41, 1, 0)>; /* P41_1 */
	};

	mikro_pwm_pins: pinctrl-mikro-pwm-grp {
		pinmux = <RZG2L_PORT_PINMUX(41, 0, 4)>; /* GTIOC3A */
	};

	mikro_rst_pins: pinctrl-mikro-rst-grp {
		pinmux = <RZG2L_PORT_PINMUX(45, 3, 0)>; /* P45_3 */
	};

	mikro_spi_pins: pinctrl-mikro-spi-grp {
		pinmux = <RZG2L_PORT_PINMUX(44, 3, 1)>, /* RSPI1_SSL */
			 <RZG2L_PORT_PINMUX(44, 2, 1)>, /* RSPI1_MISO */
			 <RZG2L_PORT_PINMUX(44, 1, 1)>, /* RSPI1_MOSI# */
			 <RZG2L_PORT_PINMUX(44, 0, 1)>; /* RSPI1_CK# */
	};

	mikro_uart_pins: pinctrl-mikro-uart-grp {
		pinmux = <RZG2L_PORT_PINMUX(40, 1, 1)>, /* SCIF1_RXD */
			 <RZG2L_PORT_PINMUX(40, 0, 1)>; /* SCIF1_TXD */
	};
};

&phy0 {
	leds {
		#address-cells = <1>;
		#size-cells = <0>;

		/* MxL86110 LED0 pin */
		led@0 {
			reg = <0>;
			color = <LED_COLOR_ID_ORANGE>;
			function = LED_FUNCTION_LAN;
			default-state = "keep";
		};

		/* MxL86110 LED1 pin */
		led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_LAN;
			default-state = "keep";
		};
	};
};

/* mikrobus uart */
&scif1 {
        pinctrl-names = "default";
	pinctrl-0 = <&mikro_uart_pins>;
	status = "okay";
};

/* mikrobus spi */
&spi1 {
	num-cs = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&mikro_spi_pins>;
	status = "okay";
};

&usb2_phy0 {
	pinctrl-0 = <&usb0_vbus_pins>;
	pinctrl-names = "default";
	dr_mode = "host";
};

&usb2_phy1 {
	pinctrl-0 = <&usb1_vbus_pins>;
	pinctrl-names = "default";
	dr_mode = "host";
};
