// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the dual LVDS to HDMI sub board,
 * connects to RZ/G3E Smarc Carrier.
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

/ {
	lvds-to-hdmi-out {
		compatible = "hdmi-connector";
		type = "d";

		port {
			lvds_to_hdmi_con_out: endpoint {
				remote-endpoint = <&it6263_out>;
			};
		};
	};
};

&i2c7 {
	it6263: it6263@4c {
		compatible = "ite,it6263";
		reg = <0x4c>;
		ite,dual-link;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				dual-lvds-odd-pixels;
				lvds0_in0: endpoint@0 {
					remote-endpoint = <&lvds0_out>;
				};
			};

			port@1 {
				reg = <1>;
				dual-lvds-even-pixels;
				lvds0_in1: endpoint@1 {
					remote-endpoint = <&lvds1_out>;
				};
			};

			port@2 {
				reg = <2>;
				it6263_out: endpoint@2 {
					remote-endpoint = <&lvds_to_hdmi_con_out>;
				};
			};
		};
	};
};

&lvds {
	status = "okay";
};

&lvds0 {
	status = "okay";

	ports {
		port@1 {
			lvds0_out: endpoint {
				remote-endpoint = <&lvds0_in0>;
			};
		};
	};
};

&lvds1 {
	clocks = <&cpg CPG_MOD 416>,
		 <&cpg CPG_MOD 418>;

	status = "okay";

	ports {
		port@1 {
			lvds1_out: endpoint {
				remote-endpoint = <&lvds0_in1>;
			};
		};
	};
};
