// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the R9A09G047E54 SMARC Carrier-II's SoM board.
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzv2h-pinctrl.h>
#include <dt-bindings/interrupt-controller/irqc-rzg2l.h>

/*
 * SW #4 states:
 *
 * Please change the corresponding selection to below Macros:
 *
 * SW_SD0_DEV_SEL:
 *      0 - SD0 is connected to eMMC (default)
 *      1 - SD0 is connected to uSD0 card
 *
 *
 * SW #5 states:
 *
 * Please change the corresponding selection to below Macros:
 *
 * SW_PDM_EN:
 *	0 - Connects to Carrier for CAN1 (default)
 *	1 - Connects to MEMS Microphone
 */

/ {
	compatible = "renesas,rzg3e-smarc", "renesas,r9a09g047e54", "renesas,r9a09g047";

	aliases {
		mmc0 = &sdhi0;
		mmc2 = &sdhi2;
		ethernet0 = &eth0;
		ethernet1 = &eth1;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_out: endpoint {
				remote-endpoint = <&adv7535_out>;
			};
		};
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0xF8000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		global_cma: linux,cma@58000000 {
			compatible = "shared-dma-pool";
			linux,cma-default;
			reusable;
			reg = <0x0 0x58000000 0x0 0x10000000>;
		};
	};

	osc1: cec-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi2: regulator-vccq-sdhi2 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI2 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pinctrl RZV2H_GPIO(K, 1) GPIO_ACTIVE_HIGH>;

		gpios-states = <1>;
		states = <3300000 1 1800000 0>;
	};
};

&pinctrl {
	sd2_pwr_en {
		gpio-hog;
		gpios = <RZV2H_GPIO(K, 2) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd2_pwr_en";
	};

	eth0_pins: eth0 {
		pinmux = <RZV2H_PORT_PINMUX(A, 1, 1)>, /* MDC */
			 <RZV2H_PORT_PINMUX(A, 0, 1)>, /* MDIO */
			 <RZV2H_PORT_PINMUX(C, 2, 15)>, /* PHY_INTR */
			 <RZV2H_PORT_PINMUX(C, 1, 1)>, /* RXD3 */
			 <RZV2H_PORT_PINMUX(C, 0, 1)>, /* RXD2 */
			 <RZV2H_PORT_PINMUX(B, 7, 1)>, /* RXD1 */
			 <RZV2H_PORT_PINMUX(B, 6, 1)>, /* RXD0 */
			 <RZV2H_PORT_PINMUX(B, 0, 1)>, /* RXC */
			 <RZV2H_PORT_PINMUX(A, 2, 1)>, /* RX_CTL */
			 <RZV2H_PORT_PINMUX(B, 5, 1)>, /* TXD3 */
			 <RZV2H_PORT_PINMUX(B, 4, 1)>, /* TXD2 */
			 <RZV2H_PORT_PINMUX(B, 3, 1)>, /* TXD1 */
			 <RZV2H_PORT_PINMUX(B, 2, 1)>, /* TXD0 */
			 <RZV2H_PORT_PINMUX(B, 1, 1)>, /* TXC */
			 <RZV2H_PORT_PINMUX(A, 3, 1)>; /* TX_CTL */
	};

	eth1_pins: eth1 {
		pinmux = <RZV2H_PORT_PINMUX(D, 1, 1)>, /* MDC */
			 <RZV2H_PORT_PINMUX(D, 0, 1)>, /* MDIO */
			 <RZV2H_PORT_PINMUX(F, 2, 15)>, /* PHY_INTR */
			 <RZV2H_PORT_PINMUX(F, 1, 1)>, /* RXD3 */
			 <RZV2H_PORT_PINMUX(F, 0, 1)>, /* RXD2 */
			 <RZV2H_PORT_PINMUX(E, 7, 1)>, /* RXD1 */
			 <RZV2H_PORT_PINMUX(E, 6, 1)>, /* RXD0 */
			 <RZV2H_PORT_PINMUX(E, 0, 1)>, /* RXC */
			 <RZV2H_PORT_PINMUX(D, 2, 1)>, /* RX_CTL */
			 <RZV2H_PORT_PINMUX(E, 5, 1)>, /* TXD3 */
			 <RZV2H_PORT_PINMUX(E, 4, 1)>, /* TXD2 */
			 <RZV2H_PORT_PINMUX(E, 3, 1)>, /* TXD1 */
			 <RZV2H_PORT_PINMUX(E, 2, 1)>, /* TXD0 */
			 <RZV2H_PORT_PINMUX(E, 1, 1)>, /* TXC */
			 <RZV2H_PORT_PINMUX(D, 3, 1)>; /* TX_CTL */
	};

#if (SW_SD0_DEV_SEL)
	/* Support pinctrl for SD function of SDHI0 */
	sdhi0_pins: sd0 {
		sd0_mux {
			pinmux = <RZV2H_PORT_PINMUX(5, 0, 8)>; /* SD0_CD */
		};
	};
#endif

	sdhi2_pins: sd2 {
		sd2_mux {
			pinmux = <RZV2H_PORT_PINMUX(K, 0, 1)>; /* QSD2_CD */
		};

		sd2_data {
			pinmux = <RZV2H_PORT_PINMUX(H, 2, 1)>, /* QSD2_DAT0 */
				 <RZV2H_PORT_PINMUX(H, 3, 1)>, /* QSD2_DAT1 */
				 <RZV2H_PORT_PINMUX(H, 4, 1)>, /* QSD2_DAT2 */
				 <RZV2H_PORT_PINMUX(H, 5, 1)>; /* QSD2_DAT3 */
		};

		sd2_ctrl {
			pinmux = <RZV2H_PORT_PINMUX(H, 0, 1)>, /* QSD2_CLK */
				 <RZV2H_PORT_PINMUX(H, 1, 1)>; /* QSD2_CMD */
		};
	};

	xspi_pins: xspi0 {
		pinmux = <RZV2H_PORT_PINMUX(M, 0, 0)>, /* XSPI0_IO0 */
			 <RZV2H_PORT_PINMUX(M, 1, 0)>, /* XSPI0_IO1 */
			 <RZV2H_PORT_PINMUX(M, 2, 0)>, /* XSPI0_IO2 */
			 <RZV2H_PORT_PINMUX(M, 3, 0)>, /* XSPI0_IO3 */
			 <RZV2H_PORT_PINMUX(L, 0, 0)>, /* XSPI0_CKP */
			 <RZV2H_PORT_PINMUX(L, 1, 0)>; /* XSPI0_CS0 */
	};
};

&qextal_clk {
	clock-frequency = <24000000>;
};

&eth0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	pinctrl-0 = <&eth0_pins>;
	pinctrl-names = "default";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@7 {
			compatible = "ethernet-phy-id0022.1640",
					"ethernet-phy-ieee802.3-c22";
			reg = <7>;
			rxc-skew-psec = <1400>;
			txc-skew-psec = <1400>;
			rxdv-skew-psec = <0>;
			txdv-skew-psec = <0>;
			rxd0-skew-psec = <0>;
			rxd1-skew-psec = <0>;
			rxd2-skew-psec = <0>;
			rxd3-skew-psec = <0>;
			txd0-skew-psec = <0>;
			txd1-skew-psec = <0>;
			txd2-skew-psec = <0>;
			txd3-skew-psec = <0>;

			interrupt-parent = <&icu>;
			interrupts = <RZG2L_IRQ2 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&eth1 {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";

	pinctrl-0 = <&eth1_pins>;
	pinctrl-names = "default";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: ethernet-phy@7 {
			compatible = "ethernet-phy-id0022.1640",
					"ethernet-phy-ieee802.3-c22";
			reg = <7>;
			rxc-skew-psec = <1400>;
			txc-skew-psec = <1400>;
			rxdv-skew-psec = <0>;
			txdv-skew-psec = <0>;
			rxd0-skew-psec = <0>;
			rxd1-skew-psec = <0>;
			rxd2-skew-psec = <0>;
			rxd3-skew-psec = <0>;
			txd0-skew-psec = <0>;
			txd1-skew-psec = <0>;
			txd2-skew-psec = <0>;
			txd3-skew-psec = <0>;

			interrupt-parent = <&icu>;
			interrupts = <RZG2L_IRQ15 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&sdhi0 {
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	non-removable;
	fixed-emmc-driver-type = <1>;
	status = "okay";
};

#if (SW_SD0_DEV_SEL)
/* SD0 slot */
&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;

	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;

	status = "okay";
};
#else
/* eMMC */
&sdhi0 {
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	non-removable;
	fixed-emmc-driver-type = <1>;
	status = "okay";
};
#endif

&dsi0 {
	status = "okay";

	ports {
		port@1 {
			dsi0_out: endpoint {
				remote-endpoint = <&adv7535_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&du0 {
	status = "okay";
};

&sdhi2 {
	pinctrl-0 = <&sdhi2_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi2>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

&adc {
       status = "okay";
};

&ostm0 {
	status = "okay";
};

&ostm1 {
	status = "okay";
};

&xspi {
	pinctrl-0 = <&xspi_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "atmel,at25ql128a", "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "bl2";
				reg = <0x00000000 0x00040000>;
				read-only;
			};

			partition@60000 {
				label = "fip";
				reg = <0x00060000 0x00FA0000>;
				read-only;
			};
		};
	};
};

&wdt1 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&cmtw0 {
	status = "okay";
};

&cmtw1 {
	status = "okay";
};
