# SPDX-License-Identifier: (GPL-2.0 OR MIT)
config NET_VENDOR_MICROSEMI
	bool "Microsemi devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Microsemi devices.

if NET_VENDOR_MICROSEMI

config MSCC_OCELOT_SWITCH
	tristate "Ocelot switch driver"
	depends on NET_SWITCHDEV
	depends on HAS_IOMEM
	select PHYLIB
	select REGMAP_MMIO
	help
	  This driver supports the Ocelot network switch device.

config MSCC_OCELOT_SWITCH_OCELOT
	tristate "Ocelot switch driver on Ocelot"
	depends on MSCC_OCELOT_SWITCH
	depends on GENERIC_PHY
	depends on OF_NET
	help
	  This driver supports the Ocelot network switch device as present on
	  the Ocelot SoCs.

config MSCC_FELIX_SWITCH
	tristate "Felix switch driver"
	depends on MSCC_OCELOT_SWITCH
	depends on PCI
	help
	  This driver supports the Felix network switch device, connected as a
	  PCI device.

config MSCC_FELIX_SWITCH_PTP_CLOCK
	bool "Felix switch PTP clock driver"
	depends on MSCC_FELIX_SWITCH
	imply PTP_1588_CLOCK
	default y
	help
	  This driver supports the PTP clock on Felix network switch
	  device. This clock is only useful if your PTP programs are
	  getting hardware time stamps on the PTP Ethernet packets
	  using the SO_TIMESTAMPING API.

config MSCC_FELIX_SWITCH_TSN
	tristate "TSN on FELIX switch driver"
	depends on MSCC_FELIX_SWITCH
	depends on TSN
	help
	  This driver supports TSN on felix switch.

endif # NET_VENDOR_MICROSEMI
